<h2><span class="area-decoration"> Area: Contexto Externo</span> </h2>
<h3>Paso 7: La filosofía</h3>
<p><strong>META: </strong> Encontrar las maneras de pensar de la gente del mundo bíblico para poder entender el mensaje
  que fue escrito a ellos. </p>

<p>1. En el Nuevo Testamento ya empieza un contacto con la filosofía griega. Es importante conocer las corrientes de la
  filosofía griega para entender algunos pasajes correctamente. Tenemos que buscar cual fue el sistema de doctrina que
  ellas enseñaban para poder leer correctamente el texto. Pablo al estar dando su sermón suponía que sus oyentes estaban
  familiarizados con estas doctrinas. </p>
<p>2. También encontramos situaciones en que no se menciona por nombre una postura filosófica, sino que solamente se
  presenta la doctrina. Hay mucho en el Nuevo Testamento acerca de los gnósticos, sin mencionar la escuela por nombre.
  Al mencionar una doctrina, todas las demás doctrinas estarán en la mente de los lectores originales. Tenemos que
  pensar como los destinatarios si vamos a comprender correctamente los escritos bíblicos. </p>
<p>3. Aparte de las escuelas formales de pensamiento, hay también explicaciones de la vida. Maneras de pensar de cómo
  funcionaban las cosas. Razones por las cuales las gentes hacían las cosas de la vida. </p>
<strong>PREGUNTAS PARA UN ESTUDIO BIBLICO:</strong>
<ol>
  <li> ¿Qué Filosofías identificas? </li>
</ol>
<p>Hacer una lista en tu Libreta con una breve explicación.</p>
