<h2><span class="area-decoration"> Area: Gramatica</span> </h2>
<h3>Paso 4. Adjetivos y adverbios</h3>
<p>
  <strong>META: </strong>Identificar las palabras que modifican a otras y
  clasificarlas por ser adverbios o adjetivos para saber si se modifica a el
  sustantivo o en la acción.
</p>
<p>
  Se debe observar si la palabra esta modificada o condicionada por otra
  palabra. Las palabras que modifican sustantivos son adjetivos. Y las
  palabras que modifican a los verbos o el predicado son adverbios. Por lo
  general los adverbios terminan en "mente".
</p>

<ol>
  <li>
    Identifica los adjetivos en la unidad de comunicación que estas
    estudiando. Marcarlos en color anaranjado en tu libreta (TODOS).
  </li>
  <li>
    Identifica los adverbios en la unidad de comunicación que estas
    estudiando. Marcarlos en color rosa en tu libreta (TODOS).
  </li>
</ol>
<strong>Preguntas para estudio bíblico: </strong>
<p>Aparte de la accion</p>
<ol>
  <li>
    ¿Hay una descripción de cómo se hace la acción por medio de un adverbio?
  </li>
  <li>
    ¿Hay una manera en que el sustantivo está‚ cualificado o descrito por un
    adjetivo? Explica como
  </li>
</ol>

<strong>Adjentivos: </strong>
<ol>
  <li>Lo que PRECISA o LIMITA a los sustantivos.</li>
  <li>
    Califica (que informan sobre alguna cualidad del objeto). Ejemplo: a.
    Perro negro. b. Letra muda.
  </li>
  <li>
    Determinan y Concretan: (que limitan la extensión en que debe tomarse el
    sustantivo (Hoyo, 1977, 0.49). Ejemplos: cinco, cada, este, aquel.
  </li>
</ol>

<strong>Pregunta para un estudio bíblico: </strong>
<ul>
  <li>
    ¿Cómo está calificado, determinado o concretado el sustantivo por un
    adverbio específico?
  </li>
</ul>

<strong>Adverbios: </strong>
<p>
  El adverbio hace la misma función que el adjetivo pero solamente con los
  verbos, adjetivos y otros adverbios. Lo que PRECISA o LIMITA el verbo,
  adjetivo, y otro adverbios.
</p>
<ol>
  <li>
    de afirmación: si, cierto, ciertamente, verdaderamente, realmente,
    naturalmente, también.
  </li>
  <li>de negación: no, nunca, jamás, ni, tampoco.</li>
  <li>de duda: acaso, tal vez, quizá.</li>
  <li>
    de tiempo: hoy, ayer, anteayer, mañana, ahora, antes, después, entonces,
    luego, tarde, temprano, puesto, pronto, siempre, nunca, jamás, cuando,
    todavía, ya, mientras, aun, antaño, hogaño, antiguamente, últimamente,
    pues, entonces.
  </li>
  <li>
    de lugar: aquí, ah¡, allá, acá, allí, acullá, cerca, lejos, donde,
    adonde, enfrente, delante, atrás, detrás, dentro, fuera, arriba, abajo,
    encima, debajo, junto, allende.
  </li>
  <li>de orden: últimamente, primeramente, sucesivamente.</li>
  <li>
    de cantidad: mucho, poco, bastante, muy, casi, harto, demasiado, tanto,
    cuanto, nada.
  </li>
  <li>de comparación: tan, mas, menos, mejor, peor.</li>
  <li>
    de modo: bien, mal, apenas, así, despacio, aprisa, alto, bajo, excepto,
    conforme, aposta, gratis, adrede, fuerte, suave y muchas palabras que
    terminan con "-mente".
  </li>
</ol>
<strong>Pregunta para un estudio bíblico: </strong>
<ol>
  <li>¿Cuales son los adverbios que se encuentran en el texto?</li>
  <li>¿Cuáles son las palabras que modifican?</li>
  <li>
    ¿Cómo nos ayudan a entender el concepto intencionado por el autor?
  </li>
</ol>
