<h2><span class="area-decoration"> Area: Semántica</span> </h2>
<h3>Paso 4: El uso de una palabra</h3>
<p>
  <strong>META:</strong>Afinar la definición por medio de observar cómo se
  usa en el texto.
</p>
<p>
  El diccionario solamente es una ayuda para la definición de Palabras,
  nunca es determinante, sino sólo indicativo de como puede ser la
  definición. Es esencial que también hagas un estudio de uso, o de la
  definición que un autor da a una palabra en su propio escrito. Este tipo
  de análisis se puede aplicar con más facilidad a palabras que se usan con
  mucha frecuencia. Las palabras que se repitan pocas veces requieren que
  vayas a otros autores dentro y fuera de la Biblia
</p>
<div class="special">
  palabra > definición > palabra aclaración limitación condición descripción
  diferencia extensión
</div>
<p>
  Al definir las palabras se admite que las definiciones en la cultura
  hebrea o griega pueden ser diferentes de las que manejamos nosotros. Toma
  por ejemplo la palabra Libertad. Nosotros ejercemos muchas más libertades
  que la gente de los tiempos bíblicos. Escogemos nuestras novias o novios.
  Escogemos nuestro trabajo. Escogemos nuestro partido político. Pero en los
  tiempos bíblicos las elecciones de éstas ú otras cosas eran
  preestablecidas por la familia. Aparte de que la cultura moderna nos da
  muchas mas libertades, hemos tenido una larga historia filosófica que ha
  venido redefiniendo el concepto de libertad. Tenemos por primera vez los
  derechos humanos como norma de la vida moderna. Aunque esto es relativo,
  casi todos los seres humanos anhelan y gozan de ciertas libertades que
  antes no existían en la mente de las mayorías. Aparte de esto los teólogos
  modernos hablan de nuestra libertad de acercarnos a Dios o de hacer una
  decisión de aceptar a Cristo.
</p>
<strong>Preguntas para un estudio bíblico</strong>
<ol>
  <li>
    ¿Cuales son las palabras que se asocian con la que estamos estudiando en
    el texto?
  </li>
  <li>
    ¿En qué forma nos ayudan a entender mejor la palabra que estamos
    estudiando?
  </li>
</ol>

<p>
  <strong>META 2: </strong>Describir, diferenciar y extender el significado
  de la palabra que investigamos.
</p>

<ol>
  <li>
    Toma la palabra que estas estudiando y decide si es:
    <ul>
      <li>una cualidad</li>
      <li>un objeto</li>
      <li>una actividad</li>
    </ul>
  </li>

  <li>
    Una vez que has determinado la clase de palabra que es, busca dentro del
    mismo texto frases o palabras que:
    <ul>
      <li>Describe la palabra que estas investigando.</li>
      <li>Palabras que diferencian esta palabra de otras.</li>
      <li>Palabras que extienden su significado.</li>
    </ul>
  </li>
</ol>
<p>
  Cuando estés explorando el significado tienes que buscar en la cultura
  bíblica. Recuerda que cada cultura tiene sus sistemas de relaciones. Es
  equivocado asumir que cada cultura tiene la misma red de ideas. Entonces
  es importante que estudiemos la Biblia desde su propia perspectiva.
</p>

<strong>Preguntas para un estudio bíblico</strong>
<ol>
  <li>
    ¿Cuáles son las palabras que describen, diferencian, o extienden a la
    que estamos estudiando en el texto?
  </li>
  <li>
    ¿De qué manera nos ayudan a entender mejor la palabra que estamos
    estudiando?
  </li>
</ol>
