<h2><span class="area-decoration"> Area: Semántica</span> </h2>
<h3>Paso 2: El Léxico del idioma original</h3>
<p>
  <strong>META:</strong>Conocer el significado y uso de las palabras
  empleadas en el idioma original.
</p>
<ol>
  <li>
    Identifica el significado de la palabra en el texto original Hebreo o
    Griego
  </li>
  <li>
    Observa que aun en los idiomas originales muchas palabras claves y
    normales tienen varios sentidos, por ejemplo: fe, hermano, carne, etc...
  </li>
</ol>
<p>
  Para poder usar un léxico es indispensable saber el abecedario del idiom
  que se está investigando. "Usando los léxicos de los idiomas originales se
  determina el rango semántico (es decir, todos los significados que vienen
  en el léxico) de la palabra, poniendo atención a las distinciones entre
  las acepciones y los equivalentes de traducción. Este paso le dará las
  opciones al exégeta”
</p>

<strong>Preguntas para un estudio bíblico: (Avanzado)</strong>
<ol>
  <li>
    ¿Cuáles son las palabras en el idioma original que expresan las ideas
    principales?
  </li>
  <li>¿Cuáles son su rango de significado?</li>
  <li>
    ¿Cuál es el sentido que nos dan para entender mejor el concepto o
    significado que estamos investigando?
  </li>
</ol>
