<h2><span class="area-decoration"> Area: Contexto Interno</span> </h2>
<h3>Paso 5. Identificación de la Cultura.</h3>
<p>
  <strong>META: </strong> Identificar el contexto cultural para poder
  interpretar adecuadamente el texto bíblico. La Biblia está llena de muchos
  detalles culturales.
</p>

<p>
  Cultura es el total del sistemas de creencias, costumbres, idiomas,
  rituales, etc. que una comunidad, grupo o nación, adoptan para poder
  sobrevivir y poder explicarse el universo a sí mismos. No es
  necesariamente una creencia coherente o relacionada con una verdad sino la
  creencia misma. Y según Romanos 1:18ss puede impedir que la gente logre
  entender la verdad y la justicia de Dios.
</p>

<p>
  La cultura sirve como portador de las ideas, o como el medio de
  comunicación. No tenemos comunicación sin cultura. La cultura bíblica no
  es igual a la nuestra (mexicana etc.). Entonces para asegurar la
  comunicación, necesitamos identificar la cultura original tanto como
  podamos.
</p>

<p>
  Lee todo el libro para identificar los valores culturales, los conceptos e
  imágenes que son aludidos en el libro, que reflejan la cultura de origen
  de mayor peso o influencia. Debemos darnos cuenta que hay varias culturas
  que influyen en el texto bíblico (Egipcia, Persa, Meda, Hitita, Griega,
  Romana, Cananea, Filistea, etc.). Trataremos de limitamos a los datos que
  están dentro del texto y no a las explicaciones formales que se hallan en
  otros libros de consulta.
</p>

<p>
  <strong>Primero: </strong> El autor hace referencias a maneras de vivir
  (conducta) en el mundo hebreo, griego, etc. ¿Cuáles eran?
  <strong>Anota en tu libreta.</strong>
</p>
<p>
  <strong>Segundo:</strong> El autor hace mención de las autoridades
  (personas y legales) que influyeron las personas en el discurso bíblico.
  ¿Cuáles eran?
  <strong>Anota</strong>
</p>
<p>
  <strong>Tercero: </strong> El autor menciona la experiencia individual de
  las personas mencionadas en el texto bíblico. ¿Cuáles eran? Anota
  <strong>Anota</strong>
</p>
<p>
  <strong>Cuarto: </strong> El autor hace referencia a valores, ideas o
  creencias que nacen de la cultura, y son mencionados por famosos
  escritores del mundo antiguo. ¿Cuáles eran estos?
  <strong>Anota en tu Libreta</strong>
</p>

<strong>Preguntas para estudio bíblico</strong>
<ol>
  <li>
    ¿Cuáles rasgos culturales podemos hallar en el pasaje?
    <strong>Anota</strong>
  </li>
  <li>
    ¿Cuál era la forma de persuadir a los lectores de la verdad deseada?
  </li>
</ol>
