<h2><span class="area-decoration"> Area: Contexto Externo</span> </h2>
<h3>Paso 2: Los destinatarios</h3>
<p><strong>META:</strong>Conocer el mundo de los destinatarios de la obra que estudiamos. No por la información dentro
  de esta obra, sino por las circunstancias políticas, geográficas, culturales y religiosas que les rodeaban. </p>
<p>La situación de los destinatarios impacta mucho cómo se escribe en la Biblia. Tienen presiones de muchos fuentes que
  compiten para su lealtad de ideologías, posturas y lealtades políticas, modas religiosas, compromisos familiares entre
  otras cosas. ¿Cómo responde el texto a estas factores externas que compiten por la lealtad de los destinatarios?</p>
<strong>Preguntas para un estudio bíblico:</strong>
<ol>
  <li>¿Cuál era el medio de sostenerse de los destinatarios?</li>
  <li>¿Cuáles eran sus creencias religiosas? </li>
  <li>¿Cómo representaban estas creencias una amenaza para las creencias reales bíblicas? </li>
  <li>¿Cuál era su relación con el gobierno (esclavo, libre, gobernando, súbdito, rebelde, etc.)? </li>
</ol>
