<mat-toolbar class="toolbar">
  <h1>{{ "Manual Hermenéutica Ps José Perez Perez" | uppercase}}</h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav class="sidenav" mode="side" opened>
    <content-sidenav style="width: 300px;"></content-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer>


  <div class="firma">
    <p>Hecho con </p>
    <p>
      <i class="material-icons">
        favorite
      </i>
    </p>
    por <a href="https://twitter.com/pedleonr" target="_blank" rel="noopener noreferrer">Pedro</a>
  </div>
</footer>
