<h2><span class="area-decoration"> Area: Contexto Interno</span> </h2>
<h3>Paso 7. Técnica del análisis de los Problemas.</h3>
<p>
  <strong>META:</strong>Analizar los problemas, para ver cuales fueron sus
  causas y consecuencias reales en el pueblo de Dios, con el fin de tener
  clara la idea que se trata en el texto.
</p>

<strong>En tu libreta:</strong>
<p><strong>PRIMERO:</strong>Enumera los problemas.</p>
<p><strong>SEGUNDO:</strong>Descríbelos.</p>
<p>
  <strong>TERCERO:</strong>Menciona las causas que ocasionaron los
  problemas.
</p>
<p>
  <strong>CUARTO:</strong>¿Qué consecuencias negativas trajeron los
  problemas a los destinatarios del libro?
</p>
<p>
  <strong>QUINTO:</strong>¿Cuál es la solución que ofrece el autor al
  problema?
</p>

<strong>Preguntas para estudio bíblico</strong>
<ol>
  <li>¿Cuál es la solución que ofrece el autor al problema?</li>
  <li>¿Cuáles fueron las causas que menciona el autor?</li>
  <li>¿Cuáles son las consecuencias mencionadas?</li>
  <li>¿Qué soluciones ofrece el autor para sus destinatarios?</li>
  <li>¿Hay situaciones semejantes hoy?</li>
  <li>¿Podemos usar la solución que ofrece el autor?</li>
</ol>
