<h2><span class="area-decoration"> Area: Sintaxis</span> </h2>
<h3>Paso 1. La intención del autor:</h3>
<p>
  El hecho de que un libro tiene un argumento implica que haya una sola
  intención. No podemos organizar el trabajo del autor hasta que encontremos
  su intención. Tampoco podemos hacer la interpretación de un párrafo, hasta
  que descubramos la intención general y la relación del párrafo con la
  intención general.
</p>

<p>
  <strong>Meta: </strong>Identificar la intención del autor en el LIBRO y
  cada párrafo (perícopa) que estudiamos.
</p>

<p>
  <strong>Intenciones: </strong>Cada libro tiene una propia (el pensamiento
  articulado del autor sobre muchos temas de importancia).
</p>

<ol type="A">
  <li>
    Cuando el autor ha declarado su propósito. Ejemplo: Juan 20:30-31.
  </li>
  <li>Cuando el autor no ha declarado su propósito:</li>
</ol>

<strong>
  Esperar hasta hacer el paso 10 de contexto externo en lugar de este paso.
</strong>

<strong>Instrucciones: </strong>
<p>
  "OBSERVA EL PROPOSITO DEL AUTOR PARA EL LIBRO ENTERO"
</p>

<strong>Pregunta para un estudio bíblico: </strong>
<ul>
  <li>
    ¿Cuál fue el propósito del autor al escribir este libro y cada párrafo?
  </li>
</ul>
