<h2><span class="area-decoration"> Area: Semántica</span> </h2>
<h3>Paso 6: Campos semánticos</h3>
<p>
  <strong>META:</strong> Conocer como la idea representada con nuestras
  palabras se relaciona con otras ideas.
</p>
<p>
  En este paso estamos buscando la relación entre las palabras que indica
  como pensaba el autor
</p>
<p>
  <strong>Antónimos - Opuestos Polares:</strong>palabras que expresan ideas
  opuestas, como las palabras robar y comprar. Noten bien que estas palabras
  son sub-grupos de otra categoría mas grande: conseguir o adquirir. A veces
  el énfasis no cae en la forma de conseguir algo como robar – comprar sino
  en si lo tienes o no lo tienes, como en el caso de Jacob y Esaú cuando
  pelearon su herencia.
</p>
<p>
  <strong>Palabras empalmadas: </strong>palabras que comparten un
  significado aunque las palabras en sé no son sinónimos completos. Un
  ejemplo sería: bella, bonita, guapa, etc.
</p>
<p>
  <strong>Palabras continuas:</strong> palabras que expresan un continuo de
  “x” a “y”. Un ejemplo son las palabras que expresan lo que va de caliente
  a frío, o moverse, gatear, caminar, correr.
</p>
<p>
  <strong>Palabras continuas:</strong> la palabra perro está incluida en la
  palabra animal, la palabra árbol en la palabra planta. Pero no al revés,
  porque la palabra animal no está incluida en la palabra perro, ni la
  palabra planta en la de árbol.
</p>
<p>
  <strong>Equivalentes:</strong>Palabras que tienen el mismo significado.
  Esto no es muy común, por tanto debes tratar de encontrar las diferencias
  más pequeñas entre las dos palabras. UNA OBSERVACION: "Una palabra que
  significa todo no significa nada. Para que una palabra signifique algo, no
  debe significar otra cosa. Limitar la ley de contradicción elimina todo
  significado”. Siempre debemos estar consientes de qué es lo que esta
  incluido o excluido en el significado de una palabra. No debemos tener
  significados muy amplios de una palabra porque entonces su verdadero
  significado queda confuso. En el grado que tenemos confusa nuestra mente,
  en cuanto al contenido de una palabra, quedamos confusos en el verdadero
  conocimiento de las Escrituras.
</p>
