<h2><span class="area-decoration"> Area: Semántica</span> </h2>
<h3>Paso 1: Definición de palabras y expresiones</h3>
<p>
  <strong>META:</strong>Conocer el significado de las palabras empleadas.
</p>
<ol>
  <li>
    Haz una lista de palabras que requieran definición en la columna lateral
    de tu libreta. <strong>MUY IMPORTANTE<</strong> </li> <li>
        Anota todos los significados que tiene la palabra en cuestión en la
        columna de notas. Hay que consultar uno o más diccionarios.
  </li>
</ol>
