<h2><span class="area-decoration"> Area: Semántica</span> </h2>
<h3>
  Paso 5: Categorías de patrones semánticos
  <div>Polisenia y Sinónimos</div>
</h3>
<p>
  <strong>META:</strong>Poder identificar otras definiciones de la misma
  palabra y sus sinónimos.
</p>
<p>
  Considera las relaciones dogmáticas del término. Usando obras acerca de
  sinonimia, y otras ayudas léxicas, determina la oposición del término a
  temas relacionados haciendo una clasificación como se ha mencionado.
</p>
<p>
  <strong>Polisemia:</strong>Cuando una palabra tiene más de un solo
  significado. Es común que una palabra tenga más de un solo significado.
  Casi todas las palabras en el diccionario tienen varias acepciones.
</p>
<p>
  En cada idioma cada palabra tiene su red de relaciones que le dan su
  definición. Si examinamos esta lista de definiciones encontramos que no
  corresponde exactamente a una palabra o red de ideas que existen en
  español. Esto hace difícil la traducción de palabras de un idioma a otro,
  porque en la traducción no se incluyen la misma red y relación de ideas.
</p>
<p>
  Busca en una concordancia greco-española del Nuevo Testamento las palabras
  españolas que son traducciones de la misma palabra griega que estas
  investigando.
</p>
<p>
  <strong>Sinónimos:</strong> cuando dos palabras tienen el mismo
  significado.
</p>
