<h2><span class="area-decoration"> Area: Contexto Externo</span> </h2>
<h3>Paso 3: La historia</h3>
<p><strong>META: </strong>Conocer la historia de los lugares, y personajes que intervienen la obra que estudiamos.
  Tratamos de conocer esta historia no por los datos que contiene sino por la manera en que influye el autor en su
  comunicación. La Historia es el archivo de los eventos, hechos por los hombres e interpretados. No hay una historia
  que no sea una interpretación porque no tenemos los eventos mismos archivados. La Biblia en un sentido es historia. Es
  la interpretación de Dios de ciertos eventos divinos y humanos. La Biblia es la interpretación autorizada de estos
  eventos. Las otras historias que se relacionan con la Biblia no están autorizadas, y por lo tanto tienen que ser
  tomadas con un grado menor de confiabilidad. La historia no bíblica tiene valor para llenar el cuadro que no se ve en
  los datos que nos proporciona la Biblia.</p>
<strong>Pregunta para un estudio bíblico</strong>
<ol>
  <li>¿Cuáles fueron las circunstancias históricas generales que influenciaban o dieron esperanza a la gente en el
    texto? <strong>Anota en tu libreta.</strong> </li>
</ol>
