<h2><span class="area-decoration"> Area: Sintaxis</span> </h2>
<h3>Paso 4. La intención del párrafo</h3>
<p>
  <strong>Meta: </strong>Identificar la intención del autor en los PARRAFOS
  que estudiamos.
</p>

<p>
  Lee todo el párrafo (perícopa) para identificar los conceptos e ideas
  centrales del autor, es decir sus INTENCIONES. Cada PARRAFO tiene su
  propio propósito ideológico (el pensamiento articulado del autor sobre UN
  TEMA determinado de mucha importancia).
</p>

<strong>Instrucciónes: </strong>
<ol>
  <li>"OBSERVA EL PROPOSITO DEL AUTOR PARA EL PARRAFO</li>
  <li>SUBRAYA EL TEMA QUE HAS ENCONTRADO.</li>
</ol>

<p>
  Debe ser muy similar al tema que encontraste en paso 2 de CONTEXTO
  INTERNO. Revisa el titulo que pusiste para ver si corresponde al tema que
  ya has identificado.
</p>
<strong>Pregunta para un estudio biblico: </strong>
<ul>
  <li>
    ¿Cuál fue el propósito del autor al escribir este PARRAFO?
  </li>
</ul>
