<h2><span class="area-decoration"> Area: Semántica</span> </h2>
<h3>Observaciones finales</h3>
<p>
  "Ninguna de estas consideraciones debe ser aplicada mecánicamente. Debemos
  tomar en cuenta la fluidez del idioma, sus sutilezas, debe dominar nuestro
  pensamiento desde el principio hasta el fin. Por tanto, no debemos estar
  molestos cuando la certeza y precisión absoluta se nos escape”. La
  incertidumbre responsable nos llevara mucho mas hacia el conocimiento que
  una certeza sin base
</p>
<p>
  2. La decisión final en cuanto al significado de una palabra, debe
  enfocarse en la conciencia del autor de lo que estaba escribiendo. No
  podemos suponer que no estaba consciente de lo que estaba escribiendo. La
  intención fijada por el autor debe determinar nuestra comprensión del
  texto. De esta manera, parece improbable que el autor hubiera estado
  consiente o interesado en uno o más de los factores descubiertos por la
  historia del uso de una palabra, como es la etimología. Tal factor no debe
  influir nuestra interpretación, a menos que podamos demostrar que influye
  en la elección de las palabras de parte del autor. Tenemos que admitir que
  el autor pudo haber usado otros factores en su elección de palabras, como
  la ambigüedad intención, la elección de un término en contra de sus
  sinónimos, y neutralizaciones que deben ser puestas en contraposición a la
  luz de la conclusiones preliminares
</p>

<p>Ya que has terminado esta area:</p>
<ol>
  <li>Regresa al area de <strong>contexto interno</strong></li>
  <li>
    Revisa tus <strong>conclusiones</strong> segun la nueva informaciòn que
    has conseguido
  </li>
</ol>
