<h2><span class="area-decoration"> Area: Contexto Interno</span> </h2>
<h3>Paso 6 Evaluación de la cultura</h3>

<p>
  <strong>META:</strong>El propósito de la Biblia es establecer la manera
  correcta de creer en cuanto a Dios y al hombre. El hecho de que hay una
  manera de creer correctamente, implica que también hay una manera
  equivocada. Tratemos de identificar las creencias aceptadas y rechazadas
  para poder acercarnos a lo que Dios quiere que creamos.
</p>

<ol type="a">
  <li>
    "Uno tiende a nivelar las características culturales; incluyendo sus
    instituciones y términos; y hacer éstas características como enseñanzas
    normativas al igual que cualquier otro mandato bíblico".
  </li>
  <li>
    "El otro extremo tiende a saltar cualquier cosa que resulta sospechosa
    de tener una descripción culturalmente condicionada como pretexto para
    reducir la enseñanza de tal parte, como la descripción de una situación
    ya no existente".
  </li>
</ol>

<strong>Primero: </strong>
<ol>
  <li>
    ¿Cuáles valores y conceptos aceptó el autor y cuales rechazó?
    <strong>Anota</strong>
  </li>
  <li>
    ¿Por cuáles razones acepta o rechaza una creencia cultural?
    <strong>Anota</strong>
  </li>
</ol>

<strong>Segundo: </strong>
<ol>
  <li>
    ¿Qué conceptos, ideas y valores colocó en lugar de estos?
    <strong>Anota</strong>
  </li>
  <li>
    ¿Cómo lo hizo?
    <strong>Anota</strong>
  </li>
</ol>

<strong>Preguntas para estudio bíblico</strong>
<ol>
  <li>
    ¿Cuáles son las creencias que el autor rechaza o acepta en el texto?
  </li>
  <li>
    ¿Cuál es la relación entre estas creencias y lo que nosotros creemos?
  </li>
  <li>
    ¿Cuáles son las implicaciones del autor sobre nuestra manera de vivir?
  </li>
</ol>
