<h2><span class="area-decoration"> Area: Literatura</span> </h2>
<h3>Paso 5. Figuras de dicción</h3>
<p>
  <strong>Meta: </strong>Identificar los símbolos empleados por el autor en
  el texto y saber que representa cada uno.
</p>
<p>
  Un símbolo es cualquier cosa que representa otra que no es su valor
  normal. Los símbolos pueden ser usados para revelar la verdad o para
  esconderla. Debemos tener mucho cuidado de no ver símbolos donde no los
  hay, o de no verlos cuando realmente están allí. La Biblia frecuentemente
  no nos identifica sus símbolos, lo que implica que tenemos que manejarlos
  con mucho cuidado.
</p>
<p>
  1. Conozca las formas simbólicas de hablar. Aquí hay una lista de algunas
  formas comunes como: Metáforas, símil, metonimia, sinécdoque, ironía,
  hipérbole, apostrofe, personificación, eufemismo, paradoja, juego de
  palabras, expresiones numéricas, etc.
</p>
<p>
  <strong>LECTURA DIDACTICA:</strong>Es posible que necesites consultar una
  gramática u otro libro de referencia para conocer las formas simbólicas
  del idioma.
</p>
<p>2. Estudia la manera en que la Biblia misma interpreta sus símbolos.</p>
<p>
  3. Cuando estas estudiando objetos naturales, toma en cuenta sus
  características naturales.
</p>
<p>4. Estudia el Contexto.</p>
<p>
  5. Evita especulaciones o significados arbitrarios que provienen de tu
  propia cabeza y no de las Escrituras.
</p>

<strong>Preguntas para estudio bíblico: </strong>
<ol>
  <li>¿Cuales son los símbolos que encontramos en este texto? Márcalos</li>
  <li>¿Por qué‚ usa el autor símbolos para comunicar su mensaje?</li>
  <li>¿Cuál es el significado del símbolo que el autor usa?</li>
</ol>
