<h2><span class="area-decoration"> Area: Sintaxis</span> </h2>
<h3>Paso 6. El tema del libro (Segundo Esquema: TEMAS)</h3>
<p>
  <strong>META: </strong> Identificar los temas que tienen relación
  inmediata con el texto (antes y después), y explicar cuál es la conexión
  entre ellos. Esquematizar la relación entre estas ideas para ayudarnos a
  la comprensión y la enseñanza de los temas.
</p>

<p>
  Escribe todos los temas centrales y haz un esquema (segundo esquema) que
  muestre la relación que hay en cada uno, de la misma manera que hiciste la
  relación en el párrafo.
</p>

<p>
  La relación del tema del párrafo que estás estudiando con los otros
  párrafos inmediatamente alrededor del, es más importante que la relación
  con otros párrafos más lejos en el escrito. Debes concentrarte más en la
  relación de la subsunción del libro donde se encuentra el párrafo que
  estudias que en todos los párrafos del libro entero.
</p>

<strong>NOTA: </strong>
<ol>
  <li>Un libro puede tener varios temas.</li>
  <li>
    Fíjate en la siguiente relación:
    <ul>
      <li>El tema del libro</li>
      <li>El tema de la primera sección (si se desarrollan los temas).</li>
      <li>El tema de la subsección A (no se desarrollan os temas)</li>
      <li>El tema de la subsección B (no se desarrollan los temas).</li>
      <li>El tema de la subsección C (si se desarrollan los temas).</li>
      <li>El tema de mi párrafo de estudio.</li>
      <li>El tema de los otros párrafos en la misma subsección.</li>
      <li>El tema de la subsección D (no se desarrollan los temas).</li>
      <li>El tema de la segunda sección (no se desarrollan los temas).</li>
    </ul>
  </li>
</ol>

<p>
  Es importante que traces el tema del párrafo de estudio hasta que se vea
  la manera en que se apoya el tema del libro entero o por lo menos como
  apoya el tema de la sección en donde te encuentras.
</p>
<strong>NOTEN BIEN: </strong>
<p>
  No todos los libros tienen la misma estructura. En seguida presentamos
  algunas de las relaciones que hay:
</p>
<ol>
  <li>Ejemplo: relación de block. a. + b. + c (ROMANOS)</li>
  <li>Ejemplo: relación de cadena. ab + bc + cd (SANTIAGO)</li>
  <li>
    Ejemplo: relación parentética. a (aplicación) + b (aplicación) + c
    (aplicación) (HEBREOS)
  </li>
</ol>

<p>
  3. En algunos casos como Salmos y Proverbios no existe una relación del
  tema general del libro por la naturaleza de la colección.
</p>
<strong>NOTEN BIEN: </strong>
<p>
  Esto debe verse como el esquema de Sintaxis de un párrafo, pero solamente
  debe contener los temas de cada párrafo como contenido.
</p>
<strong>Pregunta para un estudio bìblico</strong>
<ol>
  <li>
    ¿Cuál es la relación entre el tema de este párrafo y el tema del libro
    entero?
  </li>
</ol>
