<h2><span class="area-decoration"> Area: Contexto Interno</span> </h2>
<h3>Paso 4. El Elemento Existencial Humano</h3>
<p>
  <strong>META:</strong>Tener un punto de identificación entre nosotros y
  los participantes que se encuentran en el texto.
</p>

<ol>
  <li>¿Qué estaba haciendo el autor al escribir su obra?</li>
  <li>¿Cuál era su oficio en la vida?</li>
  <li>¿Qué deseaba lograr al escribir su obra?</li>
  <li>¿Cómo cabe el escrito en la misión y el propósito del autor?</li>
</ol>

<p>
  El Lector implícito: Es importante fijar los destinatarios y su nivel de
  preparación en el tema que trata el autor.
</p>

<p>
  <strong>PRIMERO: </strong>Es importante fijar los destinatarios y su nivel
  de preparación en el tema que trata el autor.
</p>

<strong>Pregunta para estudio bíblico</strong>
<ol>
  <li>
    ¿Cuáles son las personas o tipos de personas que se mencionan en este
    pasaje?
  </li>
</ol>

<p>
  <strong>SEGUNDO:</strong> Según el libro, trata de desarrollar una breve
  biografía de cada una de las personas que intervienen en este. O la
  descripción del tipo de persona de que se trata, con base en la
  información proporcionada por el texto mismo.
</p>

<strong>Pregunta para estudio bíblico</strong>
<ol>
  <li>
    ¿Cuáles son las cosas que podemos aprender acerca de ellas en este
    pasaje?
  </li>
  <li>
    ¿Cómo nos ayuda a entender el pasaje el conocer bien a los
    participantes?
  </li>
</ol>

<p>
  <strong>TERCERO:</strong> Busca algunas otras referencias de esas mismas
  personas, en otros libros o epístolas según la concordancia y
  <strong>escribe en tu libreta</strong> una biografía breve con base en
  estas fuentes.
</p>
<strong>Pregunta para estudio bíblico</strong>
<ol>
  <li>
    Con base en otros pasajes ¿Qué podemos aprender acerca de estas
    personas?
  </li>
</ol>
