<h2><span class="area-decoration"> Area: Contexto Interno</span> </h2>
<h3>Paso 3. La Unidad de Comunicación o la Agrupación de los Párrafos.</h3>
<p>
  <strong>META:</strong> Determinar las unidades de comunicación del autor,
  para poder estudiar en temas completos su pensamiento.
</p>
<p>
  Hay una práctica muy popular: ver la Biblia como un conjunto de
  versículos, cada uno <strong>independiente</strong> del otro. Siguiendo
  esta práctica: los sermones, las lecturas bíblicas, los libros de
  meditación diaria, los libros de Teología Sistemática, libros que tratan
  un problema de la vida cristiana, y otros, citan versículos
  <strong>aislados</strong> , sin prestar atención al
  <strong>contexto</strong>. Detrás de esta práctica hay una suposición de
  que todo lo que dice la Biblia es VERDAD sin importar el
  <strong>orden</strong> de las frases, como si fuera un libro de
  <strong>formulas</strong>.
</p>

<p>
  Sin pensar hemos llegado a una práctica que trata el pensamiento del autor
  en <strong></strong> fragmentos, sin la necesidad de
  <strong></strong> conectar una frase a una oración, párrafo, o unidad de
  comunicación. Al tratar la Biblia de esta manera, nunca forman una unidad
  de <strong>comunicación completa</strong> que necesitamos estudiar para
  poder <strong>entender</strong> a su autor.
</p>

<p>
  En vez de esto debemos fijar los límites del texto de estudio. A veces
  puede ser un párrafo. Pero en otras ocasiones puede ser necesario estudiar
  varios párrafos o un libro entero para asegurar que se está manejando una
  idea completa
</p>

<p>
  Si no se maneja una idea completa, nos podemos equivocar.
</p>

<p>
  Es importante tratar con una unidad de comunicación completa. Si solamente
  tratamos ideas incompletas no podemos esperar que nuestra comprensión del
  texto sea adecuada. Cuando una persona estudia la Biblia salteando, es
  decir, sin tomar en cuenta las unidades de comunicación, el riesgo es
  confundir la idea del autor. Ya no es posible recuperar sus argumentos.
  Los eventos se quedan sin el hilo que le daría sentido.
</p>

<strong>Preguntas para un estudio bíblico</strong>
<ol>
  <li>¿Dónde empieza a hablar el autor de este tema?</li>
  <li>¿Dónde termina?</li>
  <li>¿Cuáles son las sub-divisiones que el autor da al tema?</li>
  <li>¿Por qué dividiría el autor el tema así?.</li>
  <li>
    ¿Hay unidades dentro del libro que son independientes unas de otras?.
  </li>
  <li>¿Qué podemos entender por separado, o sin ver todo el libro?</li>
</ol>
