<h2><span class="area-decoration"> Area: Contexto Interno</span> </h2>
<h3>Paso 2. División de los parrafos</h3>
<strong>Objetivo</strong>
<p>
  Dividir el texto en unidades de comunicación de acuerdo al pensamiento del
  autor inspirado por el Espíritu Santo. Para poder empezar a hacer las
  divisiones, necesitamos primero entender cuáles son las unidades que
  integran a un párrafo (perícopa).
</p>

<strong>Antes de empezar...</strong>
<p>
  Copia en una libreta y divide el texto según el criterio que establece el
  mismo texto. (El profesor te dará indicaciones en clase antes de hacerlo)
</p>

<strong>Análisis del párrafo</strong>
<ol>
  <li>
    Haz las divisiones de los enunciados gramaticales en la sección que
    estás estudiando.
  </li>
  <li>Une los enunciados que hablan del mismo tema.</li>
  <li>
    Pon un título a cada párrafo: (En la columna lateral de tu libreta)

    <ol type="a">
      <li>Usa palabras del texto mismo.</li>
      <li>No uses mas de cuatro palabras.</li>
      <li>Indica con estas palabras lo mas importante del párrafo.</li>
      <li>
        Que las cuatro palabras sean representativas del contenido del
        párrafo.
      </li>
      <li>Que los títulos distingan entre un párrafo y otro</li>
    </ol>
  </li>
</ol>

<strong>Preguntas para estudio bíblico: </strong>

<ol>
  <li>
    ¿Cuál es el tema principal y cuales son sus subtemas? Anótalos en tu
    libreta.
  </li>
</ol>
