<h2>Area 4. Sintaxis</h2>
<p>
  <strong>Propósito: </strong>Encontrar el pensamiento del autor, como
  argumentaba, que creía y cuáles eran sus razones principales.
</p>
<p>
  <strong>Sintáxis: </strong>Es la parte de la gramática que estudia la
  función y relación de las palabras en la oración y la función y relación
  entre las oraciones mismas."
</p>
<p>Esta conformado por los siguientes 6 pasos: </p>
<ol>
  <li> La intención del autor </li>
  <li> El tema </li>
  <li>Las ideas</li>
  <li>La intención del parrafo</li>
  <li>El argumento y esquematización del argumento </li>
  <li> El pasaje y el tema del libro</li>
</ol>
