<h2><span class="area-decoration"> Area: Contexto Externo</span> </h2>
<h3>Paso 6: La política</h3>
<p><strong>META: </strong> Descubrir los hechos políticos que influyen el mensaje de los escritos de la Biblia.</p>
<p>De vez en cuando la Biblia menciona la política formal de las naciones de su tiempo. David era rey. Tenía ciertas
  políticas que están mencionadas en la Biblia. A veces éstos hechos son importantes para ponerse en un contexto
  político si entendemos el texto. No sólo en el Antiguo Testamento encontramos estos detalles, sino también en el Nuevo
  Testamento. </p>
<strong>PREGUNTAS PARA UN ESTUDIO BIBLICO: </strong>
<ol>
  <li>¿A quién se testificaba? </li>
  <li>¿Quiénes eran los gobernantes.?</li>
  <li>¿Cuáles eran sus políticas? </li>
  <li>¿Sobre qué área geográfica gobernaban? </li>
  <li>¿Sus gobiernos eran independientes o dependían de otros? </li>
  <li>¿El pueblo en cuestión era esclavo o libre? </li>
</ol>
<strong>Anota en tu Libreta </strong>
