<h2><span class="area-decoration"> Area: Semántica</span> </h2>
<h3>Paso 10: Usus Loquendi</h3>
<p>
  <strong>META:</strong> Fijar en nuestra mente una definición específica
  para la palabra en su contexto específico.
</p>
<p>
  "En el estudio de palabras particulares, lo más importante, no es su
  significado etimológico, ni los varios significados que haya adquirido con
  el paso del tiempo, sino su significado particular en relación con las
  otras palabras en la oración donde la emplea el autor."
</p>
<p>
  El "usus loquendi" es la definición de una palabra, determinada por su
  relación con las otras palabras de una oración específica. "CADA PALABRA
  SOLAMENTE PUEDE TENER UN SIGNIFICADO FIJO, EN CONEXION CON EL PASAJE EN
  QUE OCURRE".
</p>
<strong>Preguntas para un estudio bíblico</strong>
<ol>
  <li>
    ¿Cuál es el significado de las palabras que estamos estudiando en el
    texto?
  </li>
</ol>
