<h2><span class="area-decoration"> Area: Gramatica</span></h2>
<h3>Paso 1. Sustantivos</h3>
<p>
  <strong>META: </strong>Identificar los objetos, personas e ideas que se tratan
  en el texto y precisar su definición.
</p>
<p>
  El sustantivo tiene la función de nombrar y designar personas, animales y
  cosas. Se le da el nombre de sustantivo a las palabras que designan seres y
  cosas que tienen una existencia real e independiente. Muchas veces es el tema
  de la oración.
</p>
<p>
  Identifica los sustantivos en la unidad de comunicación que estas estudiando.
  Marcarlos en color azul en tu libreta (TODOS).
</p>
<strong>Preguntas para un estudio bíblico:</strong>
<ol>
  <li>¿Cuáles son los sustantivos que encontramos en el texto?</li>
  <li>¿Cuál es su función?</li>
  <li>¿Qué nos dice el sustantivo en Español?</li>
  <li>¿Cómo está condicionado el sustantivo por el resto del enunciado?</li>
</ol>

<div class="seccion-griego">
  <strong> <h3>Para el Griego</h3> </strong>
  <p>
    El griego tiene casos para indicar la posición de los sustantivos en la
    oración. Los casos en griego realmente son ocho pero algunas gramáticas lo
    simplifican en cinco.
  </p>
  <ul>
    <li><strong>Nominativo: </strong>Que nombra o indica una cosa</li>
    <li><strong>Genitivo de Posesión: </strong>Que indica posesión.</li>
    <li>
      <strong>Genitivo de Separación: </strong>Que separa o distingue entre dos
      cosas o ideas.
    </li>
    <li><strong>Dativo Locativo: </strong>Que indica ubicación.</li>
    <li><strong>Dativo Instrumental: </strong>Que indica ubicación.</li>
    <li><strong>Dativo de Objetivo Indirecto</strong></li>
    <li>
      <strong>Acusativo: </strong>Que recibe la acción del verbo que no es
      pasivo.
    </li>
    <li>
      <strong>Vocativo</strong>Para llamar a una persona que esta presente en la
      conversación. Solamente en el singular.
    </li>
  </ul>

  <p><strong>El número: </strong> Singular, Dual y Plural</p>
  <p><strong>El Género: </strong> Masculino y Femenino</p>
</div>
