<h2><span class="area-decoration"> Area: Literatura</span> </h2>
<h3>Paso 3 Patrones de retórica</h3>
<p>
  <strong>META:</strong>Que el alumno pueda detectar los patrones de
  retórica que se presentan en la Biblia y su influencia en la
  interpretación.
</p>
<ol type="A">
  <li>Comparación o contraste</li>
  <li>Repetición</li>
  <li>Continuidad</li>
  <li>Clímax</li>
  <li>Encrucijadas</li>
  <li>Intercambio</li>
  <li>Particularización</li>
  <li>Generalización</li>
  <li>Causa y Efecto.</li>
  <li>Sustanciación</li>
  <li>Radiación</li>
  <li>Progresión</li>
</ol>
<p>Y hay más</p>
