<h2><span class="area-decoration"> Area: Semántica</span> </h2>
<h3>Paso 9: Clasificación semántica de las oraciones</h3>
<p>
  <strong>META:</strong>Saber la función de las oraciones que conllevan el
  significado. CLASIFICACION DE LA FUNCION DE LAS ORACIONES
</p>
<p>
  <strong>Función referencial: </strong>oraciones<strong></strong>afirmativa
  y negativa
</p>
<p>
  <strong>Función emotiva:</strong>oraciones<strong></strong>afirmativa y
  negativa
</p>
<p>
  <strong>Función apelativa:</strong>oraciones<strong></strong>afirmativa y
  negativa
</p>
<p>
  <strong>Función imperativa:</strong>oraciones<strong></strong>afirmativa y
  negativa
</p>
<ol>
  <li>Clasifica los enunciados: indicando su función.</li>
  <li>
    Explica como la clasificación de los enunciados nos ayuda a entender el
    texto que estamos estudiando.
  </li>
</ol>
<strong>Preguntas para un estudio bíblico</strong>
<ol>
  <li>
    ¿Cuál es la función de cada una de las oraciones dentro de nuestro
    texto?
  </li>
  <li>¿Es afirmativa o negativa la oración?</li>
  <li>
    ¿Cuáles son las conclusiones que podemos formar con base en la función
    de la oración para aclarar nuestro texto?
  </li>
</ol>
