<h2><span class="area-decoration"> Area: Gramatica</span> </h2>
<h3>Paso 3 Preposiciones y Conjunciones</h3>
<p>
  <strong>META: </strong>Identificar los elementos de enlace de las palabras
  y los elementos de enlace de las oraciones.
</p>

<p>
  <strong>Preoposiciones: </strong>"Las preposiciones y las conjunciones son
  palabras que funcionan como elementos de enlace. Por lo general, la
  preposición une o coordina palabras, y la conjunción, coordina
  oraciones.""
</p>
<p>
  Las preposiciones son las palabras que indican un tipo de relación entre
  conceptos o cosas. Las preposiciones en español son solamente 19:
</p>
<p>
  a, ante, bajo, cabe, con, contra, de, desde, en, entre, hacia, hasta,
  para, por, según, sin, so, sobre, tras.
</p>
<p>
  Estas palabras son muy importantes para la comprensión adecuada del texto
  bíblico.
</p>
<p>
  <strong>Ejemplo: </strong>Gálatas 2:20 habla de la “fe del hijo de Dios.”
  Esta frase puede tener cuatro significados diferentes. Explica los
  diferentes significados cuando el significado de la preposición se cambia:
</p>
<ol>
  <li>fe DE Cristo</li>
  <li>fe POR Cristo</li>
  <li>fe EN Cristo</li>
  <li>fe COMO Cristo</li>
  <li>fe PARA Cristo</li>
</ol>
<p><strong>EJEMPLO: </strong>Jesús murió por mí:</p>
<p>Jesús murió a mi favor. o Jesús murió en mi lugar</p>

<p>
  <strong>Observación: </strong> En algunos aspectos la preposición es la
  mas difícil para tener precisión en un idioma. Es importante estudiar los
  idiomas originales para tener una comprensión completa.
</p>

<p><strong>CONJUNCIONES</strong>MODAL</p>
