<h2><span class="area-decoration"> Area: Gramatica</span></h2>
<h3>Paso 3 Preposiciones y Conjunciones</h3>
<p>
  <strong>META: </strong>Identificar los elementos de enlace de las palabras y
  los elementos de enlace de las oraciones.
</p>
<h4><strong>Preoposiciones</strong></h4>
<p>
  "Las preposiciones y las conjunciones son palabras que funcionan como
  elementos de enlace. Por lo general, la preposición une o coordina palabras, y
  la conjunción, coordina oraciones.""
</p>
<p>
  Las preposiciones son las palabras que indican un tipo de relación entre
  conceptos o cosas. Las preposiciones en español son solamente 19:
</p>
<p>
  a, ante, bajo, cabe, con, contra, de, desde, en, entre, hacia, hasta, para,
  por, según, sin, so, sobre, tras.
</p>
<p>
  Estas palabras son muy importantes para la comprensión adecuada del texto
  bíblico.
</p>
<p>
  <strong>Ejemplo: </strong>Gálatas 2:20 habla de la “fe del hijo de Dios.” Esta
  frase puede tener cuatro significados diferentes. Explica los diferentes
  significados cuando el significado de la preposición se cambia:
</p>
<ol>
  <li>fe DE Cristo</li>
  <li>fe POR Cristo</li>
  <li>fe EN Cristo</li>
  <li>fe COMO Cristo</li>
  <li>fe PARA Cristo</li>
</ol>
<p><strong>EJEMPLO: </strong>Jesús murió por mí:</p>
<p>Jesús murió a mi favor. o Jesús murió en mi lugar</p>

<p>
  <strong>Observación: </strong> En algunos aspectos la preposición es la mas
  difícil para tener precisión en un idioma. Es importante estudiar los idiomas
  originales para tener una comprensión completa.
</p>

<h4><strong>Conjunciones</strong></h4>
<p>Hay dos tipos o clases de conjunciones:</p>
<p>
  A. Conjunciones coordinantes que unen partes iguales o unen frases de la misma
  naturaleza.
</p>
<p>
  B. Conjunciones subordinantes que indican una relación de subordinación o
  dependencia.
</p>

<p>Las conjunciones muestran las siguientes relaciones:</p>
<p>
  A. Conjunciones coordinantes que unen partes iguales o unen frases de la misma
  naturaleza.
</p>
<p>
  1. <strong>Copulativas</strong>(que une o liga): y, ni, que, así que, a fin de
  que, con tal que, ya que, luego que, mientras que, en tanto que, por más que,
  por que, siempre que, a pesar de que, etc.
</p>
<p>2. <strong>Disyuntivas</strong>(que separa): o, u, que, ya, ahora, bien.</p>
<p>
  3. <strong>Adversativas</strong>(denota oposición): pero, aunque, sino,
  empero, sin embargo.
</p>
<p>
  4. <strong>Causales</strong>(denota la razón o causa): porque, ya que, pues,
  puesto que, pues que, supuesto, que, como, como que, etc.
</p>
<p>
  5. <strong>Llativas o Consecutivas</strong>(une o infiere): con que, luego,
  pues, por lo tanto, por consiguiente,(casi todas son frases).
</p>
<p>
  6. <strong>Condicionales</strong>(condiciona): si, como, con tal que, siempre
  que, dado que, con tal de que, ya que, asa que, así.
</p>
<p>
  7. <strong>Finales</strong>(denota el fin, objetivo o meta): para que, a fin
  de que.
</p>
<p>
  8. <strong>Comparativas</strong>(hace una comparación): com, que, así como,
  cual.
</p>
<p>
  9. <strong>Continuativas</strong> (continuidad): asimismo, ahora bien, pues,
  cuando, así que, por tanto, por lo tanto, por consiguiente, así pues.
</p>
<p>10. <strong>Alternativas</strong></p>
<p>11. <strong>Exceptivas</strong></p>
<p>12. <strong>Corroborativas</strong></p>
<p>13. <strong>Concesivas</strong></p>
<p>14. <strong>Expletivas</strong></p>

<p>Estas relaciones son claves para hacer el esquema de sintaxis.</p>
