<h2><span class="area-decoration"> Area: Contexto Externo</span> </h2>
<h3>Paso 1: El autor</h3>
<p><strong>META: </strong> Conocer el mundo del autor de la obra que estudiamos. No por la información dentro de esta
  obra, sino por las circunstancias políticas, geográficas, culturales y religiosas que le rodeaban. </p>
<p>Nuestra tarea es poder entender mejor un libro por medio de datos históricos. Si estamos estudiando la carta a los
  Romanos sería de mucho interés saber acerca de Pablo. Ya tenemos muchos datos con base en el paso: ELEMENTO
  EXISTENCIAL HUMANO. Lo que tenemos que ver en este paso es la geografía de su vida. ¿Dónde nació? ¿Cuáles serían sus
  experiencias en esta ciudad? ¨ ¿Cuáles serían las maneras de vivir en esta ciudad? ¿Era un campo de agricultura, o una
  ciudad industrial? ¿Tendría una universidad? ¿Habrá jugado en un río o en el mar de niño? ¿Quién era su
  maestro/rabino? ¿Qué fama tendría este maestro? ¿Cuál era su posición en la nación judía? Esta información no se
  encuentra dentro de la misma Biblia. Tenemos que ir a otras fuentes de información.</p>
<p> Ejemplo: ¿Cuál es la situación personal del autor: Repasa la situación personal de Pablo cuando escribió Filipenses
  y II Timoteo (vea Fil. 1:13-14; Hechos 28:16,30; II Timoteo 1:11, 1:15-17, 4:9-18) y explica en un breve párrafo como
  esto nos ayuda a entender la marcada diferencia en su actitud entre Fil. 3:12-13 y II Tim. 4:6-8." </p>
<strong>Preguntas para estudio bíblico: </strong>
<ol>
  <li>¿Cuáles eran las circunstancias en las que vivió el autor? </li>
  <li>¿Cuáles eran sus maneras de saludar a la gente? </li>
  <li>¿Qué la luz que nos dan estos hechos para entender la intención que tuvo al escribir? </li>
</ol>
