<h2><span class="area-decoration"> Area: Contexto Externo</span> </h2>
<h3>Paso 10: Proposito del Libro</h3>
<p>INFO: Este paso le he cambiado el nombre de intención del autor a proposito del libro ya que "intención del autor" se
  repite en area Sintaxis paso 1</p>
<p><strong>META: </strong> Comprender el propósito del libro </p>
<p>Hay ocasiones en que el autor no ha dicho su propósito claramente dentro del texto. Este paso solamente se hace
  cuando el autor no ha declarado su propósito dentro del texto mismo. Si se ha declarado en el texto, se hace este paso
  en CONTEXTO INTERNO. Esto no es un problema si su libro es sencillo. Pero cuando su libro es muy complejo es necesario
  que vayamos a la opinión de otros, quienes están más adelantados es su estudio bíblico.</p>
<p>Proposito: </p>
<p>¿Cuál fue la intención/propósito del autor? Anota en tu Libreta. </p>
