<h2><span class="area-decoration"> Area: Literatura</span> </h2>
<h3>Paso 6. Modismos</h3>
<p>
  <strong>Meta: </strong>Identificar las expresiones o ideas manejadas por
  el autor en el texto que reflejan valores culturales y saber cuál es su
  significado o sentido en español.
</p>

<p>
  Un modismo es una manera de expresarse en un idioma lo que no es
  simbólico, ni la manera más formal de llamar una cosa. Los modismos
  reflejan los valores culturales y la red de ideas. En general la expresión
  por sí misma no tiene nada que ver con lo que dice textualmente.
</p>

<p>
  "Modismo (de modo): Modo particular de hablar, propio o privativo de una
  lengua, que suele apartarse de las reglas generales de la gramática."
</p>
<p>
  En algunos casos, es muy difícil separar un modismo de un simbolismo. De
  hecho los modismos nacen de la forma simbólica de hablar.
</p>
<p>
  Lee todo el libro para identificar la manera en que el autor enfoca los
  conceptos, valores, o creencias e imágenes del medio ambiente y su
  respuesta a ellas.
</p>
<p>
  Identifica todos los modismos que usa el autor y define su sentido en
  español. Márcalos en tu Libreta.
</p>

<strong>Preguntas para estudio bíblico: </strong>
<ol>
  <li>¿Hay modismos en el pasaje?</li>
  <li>¿Cuál es el significado de estos modismo?</li>
  <li>¿Cómo decimos nosotros esta idea en nuestro lenguaje común?</li>
</ol>
