@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

.sidenav {
  position: fixed;
  top: 65px;
  bottom: 0;
  left: 0;
  padding: 0;
  min-width: 260px;
  background-color: #fff;
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
}

.toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  color: #eeeeee;
  background-color: #393e46;

  display: flex;
  justify-content: space-between;
}

.toolbar h1 {
  padding-top: 5px;
  font-family: "Neucha", cursive;
}

.toolbar div .my-icon {
  padding: 10px;
}

.toolbar div .my-icon:hover {
  cursor: pointer;
}

.sidenav-content {
  position: relative;
  max-width: 1000px;
  min-height: 100vh;
  padding: 70px 3rem 2rem;
}

footer {
  font-family: "Caveat", cursive;
  position: relative;
  -webkit-flex: 1;
  flex: 1;
  padding: 48px;
  z-index: 0;
  background-color: #393e46;
  font-size: small;
  color: #eeeeee;

  display: flex;
  justify-content: flex-end;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.container {
  width: 20%;
  text-align: center;
  display: block;
}

.three {
  text-align: right;
  padding-right: 5px;
}

@media screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .container {
    width: 100%;
  }
}
