<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>{{ "Manual Hermenéutica Ps José Perez Perez" | uppercase }}</h1>
</mat-toolbar>

<mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav
    #snav
    class="sidenav"
    mode="side"
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56"
    opened="!mobileQuery.matches"
    [(opened)]="opened"
  >
    <content-sidenav style="width: 300px;"></content-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer>
  <div class="firma">
    <p>Hecho con</p>
    <p>
      <i class="material-icons">
        favorite
      </i>
    </p>
    por
    <a
      href="https://twitter.com/pedleonr"
      target="_blank"
      rel="noopener noreferrer"
      >Pedro</a
    >
  </div>
</footer>
