<h2>Introducción</h2>
<div class="seccion-autor">
  <p>
    Manual del Alumno elaborado por el Teólogo
    <a
      href="https://twitter.com/pastorjp"
      target="_blank"
      rel="noopener noreferrer"
      >José Pérez Pérez</a
    >
  </p>

  <img
    src="https://pbs.twimg.com/profile_images/1217923941555146752/W8wPftwZ_200x200.jpg"
    alt="Fotografía Pastor José Perez Perez"
    width="250"
  />
</div>

<p>
  El material cuenta con 8 areas distintas las cuales cada una de ellas tiene
  una serie de pasos que el alumno debe seguir.
</p>
<p>Las 8 areas son:</p>
<ol>
  <li>Contexto Interno</li>
  <li>Semántica</li>
  <li>Gramatica</li>
  <li>Sintaxis</li>
  <li>Literatura</li>
  <li>Contexto Externo</li>
  <li>Teología</li>
  <li>Aplicación Homilética</li>
</ol>

