<h2>Introducción</h2>
<div class="seccion-autor">
  <p>
    Manual del Alumno elaborado por el Teólogo
    <a
      href="https://twitter.com/pastorjp"
      target="_blank"
      rel="noopener noreferrer"
      >José Pérez Pérez</a
    >
  </p>

  <img
    src="https://pbs.twimg.com/profile_images/857179998926630912/B4pQryUa_400x400.jpg"
    alt="Fotografía Pastor José Perez Perez"
    width="250"
  />
</div>

<p>
  El material cuenta con 8 areas distintas las cuales cada una de ellas tiene
  una serie de pasos que el alumno debe seguir.
</p>
<p>Las 8 areas son:</p>
<ol>
  <li>Contexto Interno</li>
  <li>Semántica</li>
  <li>Gramatica</li>
  <li>Sintaxis</li>
  <li>Literatura</li>
  <li>Contexto Externo</li>
  <li>Teología</li>
  <li>Aplicación Homilética</li>
</ol>

<h3>Acerca de</h3>
<p>
  Este documento lo elaboré con dos própositos. Primero al momento de realizar
  la tarea Hermenéutica sea mas sencillo seguir los pasos y sea mas accesible al
  tenerlo en la web. Lo segundo es que esto me sirve a mi como práctica en mi
  profesión como desarrollador de aplicaciones web.
</p>

<p>
  El código fuente esta hosteado en mi cuenta de Github:
  <a href="https://github.com/pedro-deleon/manual-hermeneutica">Mi Cuenta</a>
</p>
