<h2><span class="area-decoration"> Area: Contexto Externo</span> </h2>
<h3>Paso 9: La cronología</h3>
<p>Linea del tiempo</p>
<p><strong>META: </strong>Poder relacionar cronológicamente los eventos. </p>
<p>Es importante que nos demos cuenta de la relación histórica de ellos. ¿Cuál fue primero y cuál fue segundo? A veces
  pensamos que toda la Biblia fue escrita en un instante. Que Moisés tenía la misma información que nosotros. La
  situación no es así. Para ayudarnos a captar esta relación de eventos es importante que hagamos una LINEA DE TIEMPO.
  Una LINEA DE TIEMPO es una línea en donde se indica la relación de una secuencia de eventos históricos. La que sigue
  es una LINEA DE TIEMPO indicando algunos de los personajes más importantes del Antiguo Testamento. Es importante que
  sepamos la relación entre los eventos más trascendentes.</p>
<p>También es importante que sepamos la secuencia de los eventos de la vida de una persona, para entender adecuadamente
  su vida. Tomamos un ejemplo de la vida de Cristo. ¿Había resucitado Jesús antes de haber hecho los milagros?, ¿Por qué
  por medio de este evento Dios le dio poder? Si tenemos una LINEA DE TIEMPO en nuestra mente nos damos cuenta de que
  casi todos los milagros ocurrieron antes de Su Resurrección.</p>
<strong>PREGUNTA PARA UN ESTUDIO BIBLICO: </strong>
<ol>
  <li>¿Cómo nos ayuda a entender el texto la relación entre los eventos? </li>
</ol>
<p>Haz una "Línea de Tiempo" en tu Libreta. </p>
