<h2><span class="area-decoration"> Area: Gramatica</span> </h2>
<h3>Paso 1. Sustantivos</h3>
<p>
  <strong>META: </strong>Identificar los objetos, personas e ideas que se
  tratan en el texto y precisar su definición.
</p>
<p>
  El sustantivo tiene la función de nombrar y designar personas, animales y
  cosas. Se le da el nombre de sustantivo a las palabras que designan seres
  y cosas que tienen una existencia real e independiente. Muchas veces es el
  tema de la oración.
</p>
<p>
  Identifica los sustantivos en la unidad de comunicación que estas
  estudiando. Marcarlos en color azul en tu libreta (TODOS).
</p>
<strong>Preguntas para un estudio bíblico:</strong>
<ol>
  <li>¿Cuáles son los sustantivos que encontramos en el texto?</li>
  <li>¿Cuál es su función?</li>
  <li>¿Qué nos dice el sustantivo en Español?</li>
  <li>¿Cómo está condicionado el sustantivo por el resto del enunciado?</li>
</ol>

<p>PENDIENTE AGREGAR LOS SUSTANTIVOS EN GRIEGO: LOS CASOS. MODAL</p>
