<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding routerLink="{{ node.route }}"
    routerLinkActive="active-route">
    <button mat-icon-button disabled></button>
    <div class="tree-child">{{ node.name }}</div>
  </mat-tree-node>


  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding routerLink="{{ node.route }}"
    routerLinkActive="active-route">


    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">


      <mat-icon>
        {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </mat-icon>


    </button>
    <div class="tree-parent">{{ node.name }}</div>

  </mat-tree-node>
</mat-tree>
