.mat-tree-node {
  padding: 0px !important;
  margin: -6px;
  font-size: 15px;
  min-height: 0px;
}

.mat-tree-node:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.mat-tree {
  min-width: 300px;
}

.tree-parent {
  color: rgb(8, 8, 100);
}

.tree-child {
  color: rgb(78, 78, 78);
}
