.active-route {
  background-color: #393e46;
  color: white;
  font-weight: bolder;
}

.mat-tree-node {
  padding: 0px !important;
  margin: 0px;
  font-size: 15px;
  min-height: 0px;
}

.mat-tree {
  width: 300px;
}

.mat-tree-node:hover {
  background-color: #393e46;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
