<h2><span class="area-decoration"> Area: Gramatica</span> </h2>
<h3>Paso 2. Verbos</h3>
<p>
  <strong>META: </strong>¿Cómo está condicionado el sustantivo por el resto
  del enunciado?
</p>
<p>¿Cómo está condicionado el sustantivo por el resto del enunciado?</p>
<p>
  A. El MODO del verbo nos indica si la acción es, fue, o será una realidad,
  UN deseo, una condición, o implica UN mandato
</p>
<strong>Pregunta para un estudio bíblico:</strong>
<p>
  ¿Que nos indica el modo del verbo acerca de la acción? ¿Es una realidad,
  un deseo, una condición, o implica un mandato?
</p>
<p>
  B. El TIEMPO del verbo indica si la acción es pasada, presente o futura, y
  a veces si es acción puntual o acción continúa.
</p>

<p>
  1. Identifica los verbos en la unidad de comunicación que estas
  estudiando. Marcarlos en color <span>verde</span> en tu libreta (TODOS).
</p>

<strong>Preguntas para un estudio bíblico: </strong>
<ol>
  <li>
    ¿Cual es el tiempo y el tipo de acción (continua o puntual) del verbo?
  </li>
  <li>¿Cómo influye esto en la intención del autor?</li>
</ol>

<p>C. El verbo también indica la PERSONA que está actuando.</p>
<p>La PERSONA puede ser una persona, cosa o idea que conlleva la acción</p>
<p>
  D. El verbo indica si la acción está dirigida al autor de esta acción a
  otra persona, cosa o situación.
</p>

<strong>Preguntas para un estudio bíblico</strong>
<ol>
  <li>
    ¿Cómo influye en la interpretación de este texto el tiempo del verbo?
  </li>
  <li>
    ¿Si el autor hubiera usado otro tiempo, cómo cambiarla el mensaje?
  </li>
</ol>

<p>
  E. Tenemos que prestar mucha atención a la naturaleza de la palabra que es
  UN verbo.
</p>
<p>
  F. A veces el verbo esta cualificado por UN adverbio que dice como la
  acción del verbo es llevada a cabo.
</p>

<strong>PENDIENTE AGREGAR EL VERBO EN GRIEGO. MODAL</strong>
<strong>PREGUNTAS PRINCIPALES VERBO EN EL ANTIGUO TESTAMENTO. MODAL</strong>
