<h2><span class="area-decoration"> Area: Gramatica</span></h2>
<h3>Paso 2. Verbos</h3>
<p>
  <strong>META: </strong>¿Cómo está condicionado el sustantivo por el resto del
  enunciado?
</p>
<p>¿Cómo está condicionado el sustantivo por el resto del enunciado?</p>
<p>
  A. El MODO del verbo nos indica si la acción es, fue, o será una realidad, UN
  deseo, una condición, o implica UN mandato
</p>
<strong>Pregunta para un estudio bíblico:</strong>
<p>
  ¿Que nos indica el modo del verbo acerca de la acción? ¿Es una realidad, un
  deseo, una condición, o implica un mandato?
</p>
<p>
  B. El TIEMPO del verbo indica si la acción es pasada, presente o futura, y a
  veces si es acción puntual o acción continúa.
</p>

<p>
  1. Identifica los verbos en la unidad de comunicación que estas estudiando.
  Marcarlos en color <span>verde</span> en tu libreta (TODOS).
</p>

<strong>Preguntas para un estudio bíblico: </strong>
<ol>
  <li>
    ¿Cual es el tiempo y el tipo de acción (continua o puntual) del verbo?
  </li>
  <li>¿Cómo influye esto en la intención del autor?</li>
</ol>

<p>C. El verbo también indica la PERSONA que está actuando.</p>
<p>La PERSONA puede ser una persona, cosa o idea que conlleva la acción</p>
<p>
  D. El verbo indica si la acción está dirigida al autor de esta acción a otra
  persona, cosa o situación.
</p>

<strong>Preguntas para un estudio bíblico</strong>
<ol>
  <li>
    ¿Cómo influye en la interpretación de este texto el tiempo del verbo?
  </li>
  <li>
    ¿Si el autor hubiera usado otro tiempo, cómo cambiarla el mensaje?
  </li>
</ol>

<p>
  E. Tenemos que prestar mucha atención a la naturaleza de la palabra que es UN
  verbo.
</p>
<p>
  F. A veces el verbo esta cualificado por UN adverbio que dice como la acción
  del verbo es llevada a cabo.
</p>

<div class="seccion-griego">
  <strong><h3>El Verbo en Griego y Hebreo</h3> </strong>
  <p>
    No todos los idiomas tienen el mismo sistema de verbo. Esto hace muy difícil
    la traducción de UN idioma a otro. Por lo tanto ofrecemos una breve
    explicación de los verbos en griego y en hebreo. PARA lograr una comprensión
    completa es necesario que aprendamos los idiomas originales de la Biblia.
  </p>
  <p>
    El sistema del verbo es diferente en cada idioma. Generalmente los
    traductores ajustan la traducción con otras palabras para comunicar el mismo
    sentido. Entonces el tipo de pregunta que hacemos en el Antiguo Testamento y
    también en el Nuevo Testamento debe estar relacionada con su sistema de 
    gramática y su verbo.
  </p>

  <strong><h3>El Verbo en Griego</h3></strong>
  <ul>
    <li>Persona: ¿Quien hace la acción?</li>
    <li>
      Número: ¿Cuantos actores están practicando la acción: singular o plural.
    </li>
    <li>
      Esta es más amplia que en el español.
      <ol type="a">
        <li>
          <strong>Activa: </strong>La acción del actor a otra persona o cosa. (A
          veces es reflexiva).
        </li>
        <li>
          <strong>Medio: </strong>(Solamente en griego). La acción del actor es
          PARA si mismo. (A veces es reflexiva).
        </li>
        <li><strong>Pasiva: </strong>La acción es recibida.</li>
      </ol>
    </li>
    <li>
      Aspecto: Solamente en griego.
      <ol type="a">
        <li>
          Acción en UN punto de tiempo o donde la duración no es importante "fue
          escrito".
        </li>
        <li>Acción continua "estaba siendo escrito".</li>
        <li>
          Acción de UN punto que tiene resueltos continuos o que dura "escrito
          esta".
        </li>
      </ol>
    </li>
    <li>
      Modo: Si la acción es Real, Posible, una Orden o un Deseo.
      <ol type="a">
        <li>Indicativo: "es verdad".</li>
        <li>Subjuntivo: "es posible".</li>
        <li>Imperativo: "ordeno que sea la verdad".</li>
        <li>Optativo: "deseo que sea la verdad".</li>
      </ol>
    </li>
    <li>
      Tiempo: Cuando ocurre una acción
      <ol type="a">
        <li>Pasado: "fui a la tienda".</li>
        <li>Presente: "voy a la tienda".</li>
        <li>Futuro: "iré a la tienda".</li>
      </ol>
    </li>
  </ul>

  <strong><h3>El Verbo en Hebreo</h3></strong>
  <p>
    El verbo en hebreo no enfatiza el tiempo como los verbos en español. A pesar
    de no tener el tiempo marcado por los verbos tiene adverbios que indican el
    tiempo: "antes", "todavía", y "mas tarde". El hebreo también indica el
    tiempo por medio de verbos con la acción completa, o con la acción
    incompleta. Para escribir el verbo (la acción) en español tenemos que suplir
    el tiempo. Muchas veces se hace con base en el contexto.
  </p>
  <p>
    En lugar de enfatizar el tiempo, el verbo en hebreo enfatiza la intensidad
    de la acción.
  </p>
  <ul>
    <li>Simple</li>
    <li>Intensivo</li>
    <li>Causativo</li>
    <li>Activo</li>
    <li>Pasivo</li>
    <li>Reflexivo</li>
  </ul>
</div>

<strong>Preguntas para un estudio bíblico</strong>
<p>
  Nuestras preguntas principales sobre El Verbo en el Antiguo Testamento deben
  ser:
</p>
<ol>
  <li>¿Quién hace la acción?</li>
  <li>¿Quién recibe la acción?</li>
  <li>¿Hizo la acción a sí mismo?</li>
  <li>¿Que tan intensiva o pasiva es la acción?</li>
  <li>¿Quién causó la acción</li>
  <li>¿Esta completa o incompleta la acción?</li>
</ol>
