<h2><span class="area-decoration"> Area: Literatura</span> </h2>
<h3>Paso 2 Formulas de expresión</h3>
<p>
  <strong>Meta: </strong>Que el alumno note las diferentes formas o
  formularios que se usan en el texto bíblico y cómo influyen en la
  interpretación.
</p>
<p>
  Aparte del estilo literario, el autor puede estar usando una formula. Para
  entender su escritura tenemos que descubrir la formula, haciendo preguntas
  propias a las intenciones del autor.
</p>
<p>Hay formulas para cartas, pactos, poesía, sermones, profecías, etc</p>
<p>Carta o epístolas</p>
<ol>
  <li>Salutación</li>
  <li>Acción de gracias</li>
  <li>Cuerpo</li>
  <li>Exhortaciones morales</li>
  <li>Salutación y Bendición</li>
</ol>
<strong>Preguntas para estudio bíblico</strong>
<ol>
  <li>¿Existe en nuestro texto una fórmula que está siguiendo el autor?</li>
  <li>
    ¿Cómo nos ayuda entender el texto, el tener conocimiento de esta
    fórmula?
  </li>
</ol>
