<h2><span class="area-decoration"> Area: Literatura</span> </h2>
<h3>Paso 1 Género Literario</h3>
<p>
  <strong>Meta: </strong>Que el alumno pueda distinguir el género literario
  y la forma en que influye en la interpretación.
</p>

<p>
  Hay diferentes géneros literarios. Si alguien está leyendo un poema se
  espera que lo interprete en una forma muy distinta que si estuviera
  leyendo un discurso de la ley. De la misma manera, hay diferentes géneros
  de literatura en la Biblia. Para poder entender bien tenemos que
  interpretar un escrito según la forma literaria en que el autor estaba
  escribiendo.
</p>

<strong>Preguntas para estudio bíblico: </strong>
<ol>
  <li>
    ¿Cuál es la forma de literatura que el autor está usando para comunicar
    su mensaje?
  </li>
  <li>
    ¿Encuentra un tipo de expresión especial (símbolos o figuras) o una
    forma especial (el uso de una fórmula para organizar el material)?
  </li>
</ol>
<p>
  Una vez que hemos identificado el estilo literario tenemos que buscar las
  normas para este estilo de literatura. No podemos aplicar las mismas
  reglas de interpretación a todos los géneros de literatura. Algunos
  géneros son mucho más simbólicos que otros. Otros géneros están basados en
  una realidad histórica y no llevan tanto simbolismo.
</p>
<p>
  Los géneros más sobresalientes en la Biblia por su cambio en la manera de
  interpretarlos son:
</p>
<h4>A. Narrativo</h4>
<ol>
  <li>
    Las historias bíblicas son una invitación de compartir una experiencia,
    tan vivida y concretamente como sea posible, con los personajes de la
    historia.
  </li>
  <li>
    Pon atención a cada detalle de la situación puesto en la historia, y aun
    la situación tiene un papel importante, analiza como contribuye a la
    historia.
    <ol type="a">
      <li>Descripción directa</li>
      <li>Respuestas de otros personajes</li>
      <li>Las palabras y pensamientos de los personajes</li>
      <li>
        Auto-caracterización e. Las acciones como un clave al carácter
      </li>
    </ol>
  </li>
  <li>
    Ponga atención a cada detalle para poder conocer los personajes lo mejor
    posible.
  </li>
  <li>
    Identifica la naturaleza de los conflictos en la historia, observando su
    desarrollo y su resolución final.
  </li>
  <li>
    Analiza exactamente como la narración genera interés, curiosidad, o
    suspenso. El acercamiento LITERARIO es un intento de dar una lección
    universal, lo que sucede cuando..., en cambio el acercamiento HISTORICO
    es un intento de expresar lo que ocurrió una vez, lo que sucedió ....
    Noten bien que estos dos acercamientos pueden presentar la verdad, pero
    la interpretación y función de esa verdad es muy diferente.
  </li>
  <li>
    Toma la experiencia de los protagonistas como una declaración
    significativo de la vida humana y los valores
  </li>
  <li>
    Analiza en detalle la unidad de la historia, observando cómo cada
    episodio se relaciona al armazón general, y como los episodios se
    relacionan uno con el otro en el desarrollo de la historia.
  </li>
  <li>
    Identifica la naturaleza de las pruebas que los protagonistas
    experimentan o las elecciones que hagan, observando como la historia
    está estructurado alrededor de estas pruebas o elecciones y observando
    como las temas principales están relacionadas a la prueba o elección.
  </li>
  <li>
    Ponga atención a cambios que ocurren entre el principio y el final de la
    historia, observando las formas precias en que los caracteres cambian,
    las causas de estos cambios y transformaciones.
  </li>
  <li>
    Ponga atención a la presencia de mecanismos literarios como de FOILS
    (personaje que contrasta con otro), ironía dramática, justicia poética
    en la narración bíblica, etc.
    <p>Considerar los 3 grandes asuntos de la vida:</p>
    <ol type="a">
      <li>Realidad: ¿Que es lo que realmente existe?</li>
      <li>Moralidad: ¿En qué consiste la conducta buena y mala?</li>
      <li>
        Valores: ¿Que es lo que realmente es importante, y que es más
        importante?
      </li>
    </ol>
    <p>
      Las historias bíblicas hacen estas aseveraciones, no directamente,
      pero indirectamente.
    </p>
  </li>
  <li>
    Busca las aseveraciones acerca de la realidad, moralidad, o valor
    implícitos en la historia.
  </li>
  <li>
    Toma la repetición y énfasis como claves que indican el tema (realidad,
    moralidad, o valor) que la historia está tratando de presentar.
  </li>
  <li>
    Ve la conclusión como un comentario implícito acerca de (una evaluación
    de) los personajes y los eventos que la historia ha presentado.
  </li>
  <p>
    Dentro de lo que llamamos narración tenemos diferentes sub-géneros de
    literatura que necesitan atención particular:
  </p>

  <p>
    A. NARRACION HEROICA Las narraciones heroicas estar basados en los
    episodios de un protagonista. El verdadero héroe es una expresión de lo
    bueno social y moralmente. En el sentido real Dios es el único héroe de
    la Biblia. Los hombres están presentados con defectos morales y severas
    limitaciones en su capacidad como hombres para resolver los problemas.
  </p>
  <p>
    B. NARRACION EPICA Incluye tanto como sea posible. Una historia de todas
    las cosas. Tiene un héroe que da unidad a la historia, tiene un
    conflicto central que consiste en ganar una batalla y establecer un
    reino. Un ejemplo bíblico es el Pentateuco - la formación de la nación
    bajo la dirección y liderazgo de Dios. El Apocalipsis también nos
    presenta una épica.
  </p>
  <p>
    C. NARRACION COMICA No es humor, sino la historia con un final feliz.
    Una historia en la forma de "U", por ejemplo, prosperidad, pobreza,
    prosperidad o felicidad, tristeza, felicidad.
  </p>
  <p>
    D. NARRACION TRAGICA Una historia de una calamidad excepcional, un
    movimiento de prosperidad a catástrofe. Un cambio de fortuna. La
    tragedia se concentra en lo que más tememos y queremos evitar - la
    destrucción potencial del mal.
  </p>
</ol>
<h4>B. Legislativo (Ley)</h4>
<h4>C. Didactco (Enseñanza)</h4>
<h4>D. Drama (Job)</h4>
<h4>E Poetico (Salmos)</h4>
<h4>F. El Proverbio</h4>
<h4>G. Las parabolas</h4>
<h4>H. Epistolar</h4>
<h4>I. Apocaliptico</h4>
<p>
  Estos no son todos los géneros que encontramos en la Biblia. Debemos
  identificar el estilo que se está usando en nuestro texto para poder
  interpretarlo correctamente.
</p>
