<h2><span class="area-decoration"> Area: Contexto Externo</span> </h2>
<h3>Paso 5: La religión</h3>
<p><strong>META: </strong>Ya que éstas obras son en principio tratados religiosas, es necesario para su comprensión, un
  entendimiento del medio religioso. Necesitamos entender el nivel de entrega o la falta de entrega de los destinatarios
  y la del autor, sus rituales, liturgias, símbolos, etc. para poder comprender correctamente su comunicación. </p>
<p>La religión, desde la perspectiva bíblica, es lo que más motiva y da coherencia a la vida humana. Es necesario que
  investigamos a fondo los absolutos de la gente para saber su pensamiento religioso. </p>
<strong>PREGUNTA PARA UN ESTUDIO BIBLICO: </strong>
<ol>
  <li>¿Cuál era la relación y nivel del compromiso con Dios de los destinatarios? </li>
</ol>
