<h2><span class="area-decoration"> Area: Contexto Externo</span> </h2>
<h3>Paso 4: La cultura</h3>
<p>cultura works!</p>
<p><strong>META: </strong> Conocer la cultura que estaba presente cuando la obra fue hecha, para poder entender la
  expresión del autor. </p>
<p>1. ¿Cuál es el trasfondo cultural del Libro que se está estudiando? Anota en tu Libreta </p>
<p>Ejemplo: "¿Cómo te ayuda el trasfondo cultural a entender los eventos de Rut 3:6-13?" </p>
<p>Ejemplo: "¿Crees tú que debemos obedecer la clara orden de Cristo de lavar los pies uno a otro (Juan 13)? Si
  contestas que esto no es necesario porque han habido cambios en la cultura de aquel tiempo con respecto a la actual,
  ¿Cómo vas a responder a los que dicen que los mandamientos acerca de la homosexualidad, el divorcio, y la autoridad
  del esposo en el hogar son fenómenos culturales que no nos atan hoy?" </p>
