<h2><span class="area-decoration"> Area: Semántica</span> </h2>
<h3>Paso 7: Frecuencia del uso</h3>
<p>
  <strong>META:</strong>Saber dónde se encuentra desarrollado el concepto
  bíblico relacionado con una palabra.
</p>
<p>
  Es importante para hacer este paso que tengas una concordancia a la mano
  (de preferencia una que trate de los idiomas originales). Para definir una
  palabra:
</p>
<ol>
  <li>
    Estudia el pasaje dónde es usada la palabra en la Biblia por primera
    vez.
  </li>
  <li>
    Usa pasajes donde haya un uso frecuente de la palabra. En ambos casos
    examina cuidadosamente como el contexto da luz a la definición de la
    palabra de interés.
  </li>
</ol>
<strong>Preguntas para un estudio bíblico</strong>
<ol>
  <li>
    ¿Cuales son los lugares en la Biblia donde se usa ésta palabra con mucha
    frecuencia? <strong>Anota</strong>
  </li>
  <li>¿Hay una definición clara de la palabra?</li>
  <li>
    ¿Cuáles son las palabras que se relacionan con la que estamos
    estudiando?
  </li>
</ol>
