<h2><span class="area-decoration"> Area: Contexto Interno</span> </h2>
<h3>Paso 1. El contexto desde el libro mismo.</h3>

<p>
  Para llegar a comprender mejor un libro o párrafo, especialmente de la
  Biblia, es necesario leerlos varias veces y después leerlos una vez más,
  pero en voz alta.
</p>

<strong>Objetivo</strong>
<p>
  Entender a grandes rasgos la intención del autor y tener una visión
  panorámica del texto Bíblico.
</p>

<ol>
  <li>
    Lee a “vuelo de pájaro” toda la unidad. ¿Cuáles son tus impresiones
    generales?
  </li>
  <li>
    Lee otra vez la unidad, notando el flujo general de acciones o ideas.
    ¿Cuál parece ser el tema?
  </li>
  <li>
    Haz preguntas generales para entender panorámicamente el texto. (Por
    ahora evita hacer preguntas específicas, los detalles vienen después.
    No hagas preguntas especulativas, de aplicación, ni irrelevantes.
    Anota las preguntas generales en una libreta).
  </li>
  <li>
    No tomes tiempo para contestar estas preguntas en este momento. Al
    igual que las secciones y los títulos, tus preguntas son
    provisionales, aunque importantes para ayudarte a seguir investigando
    en el texto..
  </li>
</ol>

<strong>Preguntas para estudio bíblico</strong>
<ol>
  <li>¿Cómo se sintió el autor al escribir?</li>
  <li>
    ¿Cómo hubieras respondido si fueras uno de los primeros destinatarios?
  </li>
  <li>¿Cuáles son los temas principales?</li>
</ol>
