<h2><span class="area-decoration"> Area: Sintaxis</span> </h2>
<h3>Paso 5. Identificación y esquematización del argumento</h3>
<p>
  <strong>Meta: </strong>Hacer un esquema el texto tomando en cuenta todos
  los elementos de estructura para aclarar el argumento del autor.
</p>

<p>
  HAZ UN ESQUEMA DE SINTAXIS DEL Párrafo en tu libreta indicando la relación
  de todas las palabras con el tema principal.
</p>

<p>
  <strong>OBSERVACION: </strong>Es preferible hacer un borrador NO en tu
  libreta, antes del trabajo final.
</p>

<strong>Instrucciones: </strong>
<p>
  1. Vamos a escribir TODO el texto nuevamente de otra forma (esquema de
  Sintaxis) pero en el mismo orden.
</p>
<p>
  2. Al llegar a una nueva marca de puntuación (punto, coma, Interrogación,
  admiración etc…) se empieza un nuevo renglón en el esquema de Sintaxis.
</p>

<p>
  Empieza con el tema a la izquierda; con el sustantivo, verbo, y predicado
  de la oración que contiene el tema del párrafo. Generalmente esta es la
  primera oración en el párrafo.
</p>

<p>
  Subordina por medio de espacios dentados. Los adjetivos debajo de los
  sustantivos, los adverbios debajo de los verbos. Las palabras que
  modifican debajo de la palabra que están modificando.
</p>

<strong>NOTEN BIEN: </strong>
<p>
  A diferencia de un diagrama de oración, un adjetivo o pronombre posesivo
  en la mayoría de los casos estará en la misma línea del sustantivo que
  modifica
</p>
<p>5. Las palabras paralelas deben ser paralelas en la presentación.</p>
<strong>NOTEN BIEN: </strong>
<p>
  El problema de coordinación y subordinación es más complejo cuando hay
  varios elementos que modifiquen la(s) misma(s) palabra(s), mas no son
  coordinados entre sí.
</p>
<p>
  Las conjunciones deben ser puestas entre las líneas que son comparadas.
</p>

<p>
  6. Aislar los elementos de estructura. Recomendamos que subrayen en el
  esquema estos elementos.
</p>
<strong>NOTEN BIEN: </strong>
<p>
  Este es un paso especialmente importante porque muchas de las decisiones
  sintácticas- gramaticales están hechas en este punto. Las palabras: mas,
  pero, por tanto, por lo tanto, etc.
</p>
<p>
  7. Cuando el tema no se encuentra al principio del párrafo empieza con la
  primera renglón como siempre y haz un círculo alrededor de lo que se tiene
  que correr hacia la derecha en la copia final
</p>
<p>
  8. Cuando se haya terminado de escribir todo el párrafo, debes regresar a
  leerlo coloreando las palabras, situaciones o conceptos que se repitan
  para trazar el hilo del argumento.
</p>
<strong>NOTEN BIEN: </strong>
<p>
  Con frecuencia las decisiones claves de interpretación serán tomadas al
  momento de hacer el esquema de Sintaxis.
</p>
<strong>Preguntas para un estudio biblico: </strong>
<ol>
  <li>¿Cuál es el tema principal del párrafo?</li>
  <li>¿Cómo apoya el autor su idea en este párrafo?</li>
</ol>
