<h2>Area 6. Teología</h2>
<p>Esta área es solamente complementaria. (Puntos Extras) </p>
<p>Haz en tu libreta una lista de las Doctrinas que se encuentran en el material Bíblico que estudiaste y analizaste.
</p>
<p>Considera este Bosquejo de la Teología sistemática de W. Grudem </p>
<ol>
  <li> La Doctrina de La Palabra de Dios </li>
  <li> La Doctrina de Dios </li>
  <li> La Doctrina del Hombre </li>
  <li>La Doctrina de Cristo y el Espíritu Santo </li>
  <li>La Doctrina de la Aplicación de La Redención </li>
  <li> La Doctrina de la Iglesia </li>
  <li>La Doctrina del Futuro </li>
</ol>
