<h2><span class="area-decoration"> Area: Semántica</span> </h2>
<h3>Paso 8: Connotación y denotación</h3>
<p>
  <strong>META:</strong>Saber los valores que se relacionan con esta palabra
  y no sólo su definición formal.
</p>
<strong>DEFINICIONES:</strong>
<p>
  <strong>Denotación</strong>es el significado más exacto o formal de una
  palabra. Ejemplo: "varón: hombre criatura racional del sexo masculino
</p>
<p>
  <strong>Connotación</strong>son los significados secundarios o
  adaptaciones culturales de una palabra. Escribe ejemplos en tu libret
</p>
<strong>Escribre ejemplos en tu libreta</strong>
<p>
  Es difícil captar todo lo que una palabra connota en la cultura bíblica,
  porque no tenemos la misma red cultural de ideas. Solamente con un estudio
  cuidadoso y prolongado podemos empezar a captar las connotaciones de los
  idiomas originales. Sin embargo es necesario que estemos conscientes de la
  posibilidad connotativa en los pasajes que estudiamos.
</p>
<strong>Preguntas para un estudio bíblico</strong>
<ol>
  <li>
    ¿Cuál es la connotación y denotación de la palabra qué es clave en el
    texto estudiado? <strong>Anota</strong>
  </li>
  <li>
    ¿Está el autor usando la palabra en una forma denotativa o connotativa?
  </li>
  <li>
    ¿Cuál es la valorización buena o mala que encontramos en esta palabra?
  </li>
</ol>
