<h2><span class="area-decoration"> Area: Literatura</span> </h2>
<h3>Paso 4. Evaluación del texto original</h3>
<p>
  <strong>META: </strong>Establecer el texto en español más cercano al texto
  original. Por lo general se han tomado los textos más antiguos como los
  más auténticos
</p>
<strong>Observaciones: </strong>
<p>
  1. Tenemos que preguntar si los textos antiguos tenían alguna razón para
  no haberse usado, o sea que, si la iglesia no los usaba por cierta
  contaminación de las herejías que estaban luchando contra el cristianismo
  de aquella época
</p>
<p>
  2. Los textos más antiguos procedan generalmente de las regiones
  desérticas porque allí la humedad no destruye tan rápido el papel. Por lo
  general los cristianos que se retiraban al desierto no eran los cristianos
  más comunes
</p>
<p>
  3. Con base en estos hechos y otros más, quizás el Textus Receptus es el
  mejor texto que tenemos.
</p>
<p>
  4. Tenemos que repensar nuestra posición con respecto a la crítica del
  texto Bíblico.
</p>

<p>
  Hay ocasiones en que una glosa ha sido agregada al texto. Una glosa es un
  comentario para aclarar el significado del texto. Generalmente se ha
  definido una glosa como una variación en el texto con respecto a las
  copias más antiguas que tenemos. Entonces uno puede leer diferentes
  versiones de la Biblia y descubrir si todas las versiones se leen igual, o
  si una versión más moderna deja fuera parte del texto. Este procedimiento
  también sirve para verificar la traducción de las palabras claves.
</p>

<p>
  Una segunda manera de evaluar el texto es la de usar el “Aparato Crítico
  Textual” sobre los textos en griego o en hebreo.
</p>
<p>
  Cuando se escribió el N.T. no había imprenta y los textos se copiaban a
  mano. Con el tiempo llegaron a ser muchos manuscritos copiados de los
  originales. Dado que el hombre no está exento del error hay variación en
  los textos. Hoy tenemos mas de 5,000 manuscritos con cierta variación. Con
  estudios se han investigado los manuscritos para determinar el mejor
  texto, puesto que no tenemos los originales debemos notar que las
  variaciones que hay no cambian ninguna doctrina. Generalmente son
  omisiones por error humano o notas explicativas (glosas)
</p>
