<h2>Area 3. Grámatica</h2>
<p>
  <strong>Definición: </strong>Gramática es el estudio de los componentes
  del idioma (la oración, el párrafo y las palabras; y la relación entre
  ellos. Para entender su significado). Para poder leer y escribir bien.
</p>

<p>
  <strong>Proposito: </strong>En esta sección nos concentraremos en la
  función de las palabras dentro de una oración. En la sección de sintaxis
  veremos la relación entre las palabras en una forma global. Aquí
  estudiaremos la función de las palabras.
</p>

<p>
  SE RECOMIENDA QUE EL ALUMNO CONSULTE UN LIBRO DE GRAMATICA PARA RESOLVER
  SUS DUDAS
</p>
<p>Esta conformado por los siguientes 4 pasos: </p>
<ol>
  <li>Sustantivos </li>
  <li>Verbos</li>
  <li> Preposiciones </li>
  <li>Adjetivos y adverbios</li>
</ol>
