<h2><span class="area-decoration"> Area: Semántica</span> </h2>
<h3>Paso 3: Etimología</h3>
<p>
  <strong>OBJETIVO:</strong>Conocer como se ha formado la palabra para
  entender mejor su significado
</p>
<ol>
  <li>
    <strong> Origen de la palabra "Etimología".-</strong> La palabra
    española "Etimología” proviene del vocablo griego “ethymología”, el cual
    está formado por otros dos: el adjetivo “ethymos”: verdadero, auténtico,
    y la seudodesinencia “logía”, que a su vez procede del sustantivo
    “logos”: palabra. Originariamente, la Etimología se refiere al
    significado auténtico de las palabras.
  </li>
  <li>
    <strong>Definición de la Etimología.-</strong> La Etimología estudia el
    verdadero significado de las palabras, mediante el conocimiento de su
    origen, de su estructura y de sus transformaciones o cambios. En
    consecuencia la Etimología comprende todos los elementos constitutivos
    de los vocablos y no solamente su raíz.
  </li>
  <li>
    <strong>Importancia y utilidad de la Etimología.-</strong>La Etimología
    se pone de relieve, mediante las consideraciones siguientes:
    <p>1a. Satisface la curiosidad natural de todo hombre.</p>
    <p>
      2a. Sirve para definir los objetos o ideas que de ellos tenemos.
      (vocablos)
    </p>
    <p>
      3a. Conocida la etimología de una voz (activa, media o pasiva), se
      sabe descifrar su valor o significado literal o absoluto, que en
      algunos casos es idéntico a su valor usual y único.
    </p>
    <p>
      4a. La Etimología sirve para determinar la “sinonimia”, o sea, la
      diferencia de significado entre dos voces sinónimas.
    </p>
    <p>
      5a. Sirve de poderoso auxilio y es imprescindible para el sólido
      estudio de la gramática particular de cualquier idioma.
    </p>
  </li>

  <li>
    <strong>Cambios Morfológicos.</strong>(de “morfe”, forma) son cambios en
    la forma y estructura de las palabras.
  </li>
  <li>
    <strong>Cambios Semánticos.-</strong>Los cambios semánticos (de
    “semaino”: significar) son cambios de significado. Se llama “polisemia”
    (de polus: mucho) la multiplicidad de sentidos que una misma palabra
    tiene
  </li>
  <li>
    <strong>Elementos Morfológicos de las palabras.-</strong>Son dos: la
    raíz y los morfemas.
    <ol type="a">
      <li>
        Raíz.- Es el elemento irreducible (generalmente monosilábico y común
        a un conjunto de palabras) que encierra el sentido fundamental del
        vocablo
      </li>
      <li>
        Morfemas o Afijos.- Son partículas que se agregan a la raíz. Los
        morfemas o afijos se dividen en:
        <ul>
          <li>prefijos: los que se ponen antes de la raíz.</li>
          <li>infijos: se intercalan entre la raíz y los sufijos</li>
          <li>sufijos: los que se ponen después de la raíz.</li>
        </ul>
      </li>
    </ol>
  </li>
</ol>

<div>
  <strong>Nuestra tarea:</strong>"Considera la dimensión histórica
  (diacrónica):
  <strong>Selecciona por lo menos una Palabra por Párrafo y anota.</strong>
  <ol>
    <li>
      ¿Puede la Etimología del término (por lo menos en uno de sus
      significados) ser determinado?
    </li>
    <li>¿Es el término transparente?</li>
    <li>
      ¿Ha cambiado su significado? Si se ha cambiado, identifica la
      naturaleza del cambio
    </li>
    <li>
      ¿Hay una influencia de otro idioma funcionando? Si la hay, identifica
      la forma de la interferencia.
    </li>
    <li>¿Cuál es el raíz de la palabra?</li>
    <li>¿Qué significa?</li>
    <li>
      .¿Cuál es el prefijo, infijo, o sufijo que han sido agregados a la
      palabra?
    </li>
    <li>¿Cómo modifican el significado de la raíz?</li>
  </ol>
</div>
