html,
body {
  height: 100%;
  font-family: "David Libre", serif;
  font-size: large;
  margin: 0;
}

.seccion-griego {
  background-color: rgba(57, 62, 70, 0.3);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-family: "Amarante", cursive;
}

.seccion-griego h3 {
  color: #0d5baa;
}

ol {
  line-height: 2;
}
