<h2>Area 5 Literatura</h2>
<p>
  <strong>Proposito:</strong>Identificar y entender como el género literario
  o el estilo influyen en la interpretación de un texto.
</p>

<p>
  El énfasis en el estudio de la Biblia como literatura es relativamente
  reciente. Este estudio tiene varios componentes que no han sido parte del
  estudio tradicional. Se caracteriza por varios factores complicados:
</p>

<ol>
  <li>
    Un trabajo serio para identificar los géneros literarios que se
    encuentran en la Biblia.
  </li>
  <li>
    Una disposición de tratar los textos bíblicos como unidades terminadas
    en lugar de fragmentos. Esta aceptación de la unidad de los libros de la
    Biblia es un cambio radical de la crítica que la Biblia ha recibido en
    los últimos dos siglos.
  </li>
  <li>
    Un enfoque en la Biblia como está ahora, en lugar de profundizar en el
    texto.
  </li>
  <li>
    Una inclinación de usar términos literarios en lugar de términos
    teológicos para explicar las historias y poemas de las Escrituras.
  </li>
  <li>Una apreciación del arte en la Biblia.</li>
  <li>
    Una sensibilidad a la dimensión de la experiencia en las Escrituras.
  </li>
</ol>
