<h2>Area 5. Contexto Externo</h2>
<p><strong>PROPOSITO: </strong>En ésta área estamos tratando de descubrir el contexto que rodea el texto, que en alguna
  forma condiciona o aclara su mensaje. Estamos buscando afuera del texto bíblico y "no" dentro de él.
</p>

<p>
  <strong>ADVERTENCIA: </strong>Aunque sea muy común que los libros y cursos empiezan con este área, hay cierto peligro
  en arrancar aquí con lo que tradicionalmente se llamen introducción. El peligro es que fácilmente uno puede tomar a la
  introducción como la verdad que está siendo justificada por el texto bíblico, o que uno presenta la cosmovisión en la
  introducción que impone su perspectiva "humanista" para interpretar los relatos bíblicos.
</p>


<p>Para este paso no leemos el texto bíblico, sino trataremos de entender su mensaje (que ya tenemos en mente por haber
  hecho las áreas de CONTEXTO INTERNO, SEMANTICA, GRAMATICA, LITERATURA, Y SINTAXIS) por medio de la historia, cultura,
  estilo de vida, religiones paganas, filosofías que influían en el medio en que vivían, etc.</p>


<p>En los comentarios y libros de referencia este paso se llama Introducción porque se considera que es el estudio que
  se hace antes del estudio bíblico, sin embargo, cuando se preparan sermones y enseñanzas no es el primer paso que se
  hace y a veces se omite por completo. Otra razón por la cual esta sección no va primero es que estamos viendo la
  cultura en la Biblia y no la Biblia en la cultura. Si se hacen las preguntas culturales antes de haber leído el texto
  bíblico, se puede condicionar su lectura por una perspectiva selectiva y perder el mensaje de la Biblia. Por tanto
  tenemos que tener una clara idea del mensaje del texto bíblico para evaluar su relación con su cultura. Si lo hacemos
  al revés, es posible hacer relativo el mensaje bíblico poniéndolo en un marco cultural. La cultura tiene que ser
  tratada dentro del marco del mensaje bíblico.</p>
<p>Cuenta con los siguientes 10 pasos: </p>
<ol>
  <li> El autor </li>
  <li> Los destinatarios </li>
  <li> La historia </li>
  <li>La cultura </li>
  <li> La religión </li>
  <li>La política </li>
  <li>La filosofía</li>
  <li>La geografía </li>
  <li>La cronología </li>
  <li> La intención del autor </li>
</ol>
