<h2><span class="area-decoration"> Area: Sintaxis</span> </h2>
<h3>Paso 3. Identificación de las ideas</h3>
<p>
  <strong>Meta: </strong>Identificar los conceptos afines y opuestos y cómo
  contribuyen a la comprensión del texto.
</p>
<p>
  1. CONFECCIONA UNA LISTA EN TU LIBRETA DE LOS CONCEPTOS AFINES QUE SE
  REPITEN. (Y a tu juicio cuáles son de importancia para el autor).
</p>

<strong>Preguntas para un estudio bíblico: </strong>
<ol>
  <li>¿Cuáles son los conceptos que se repiten en este pasaje?</li>
  <li>.¿Cuáles son los sinónimos e ideas afines que se presentan?</li>
</ol>

<p>
  2. TRATA DE ENCONTRAR LOS CONTRASTES QUE SE PRESENTAN. (Antónimos y/o
  comparaciones). En la Biblia, particularmente en el AT el método de
  enseñanza es por comparaciones y contrastes. Aun en el NT se usa este
  modelo.
</p>
<strong>Preguntas para un estudio bíblico: </strong>
<ol>
  <li>¿Cuáles son los contrastes que el autor está presentando aquí?</li>
  <li>¿Nos da luz para entender su tema?</li>
</ol>
