<h2><span class="area-decoration"> Area: Contexto Externo</span> </h2>
<h3>Paso 8: La geografía</h3>
<p><strong>META: </strong> Descubrir los lugares que menciona el texto y sus connotaciones para la gente de aquél tiempo
  para entender mejor el mensaje. </p>
<p>Localiza cada lugar en un mapa y dibújalo en tu libreta. </p>
<strong>PREGUNTAS PARA UN ESTUDIO BÍBLICO: </strong>
<ol>
  <li>¿Dónde vivía la gente? </li>
  <li>¿Cómo habla el texto de la geografía?</li>
  <li>¿Cómo influía la geografía en el pensamiento de la gente?</li>
  <li>¿Tenía la geografía un sentido religioso?</li>
</ol>
